<div class="header">
    <app-header></app-header>
</div>
<div class="page">
    <div class="dashboard-buttons">
        <app-dashboard-buttons></app-dashboard-buttons>
    </div>
    <div class="page-content">
        <h1 class="page-title">
            Dashboard
            <div class="hline">
            </div>
        </h1>
        <div class="menu-panel-mobile">
            <app-dashboard-buttons-mobile></app-dashboard-buttons-mobile>
        </div>

        <div class="contents">
            <app-content-tabs></app-content-tabs>
        </div>
    </div>
</div>