<div class="add-item">
    <mat-form-field class="addEquipment" floatLabel="always">
        <mat-label>Item Name</mat-label>
        <input
            matInput
            placeholder="Type Here"
            autocomplete="off"
        />
    </mat-form-field>
    <mat-form-field class="addEquipment" floatLabel="always">
        <mat-label>Equipment Type</mat-label>
        <input
            matInput
            placeholder="Type Here"
            autocomplete="off"
        />
    </mat-form-field>
    <mat-form-field class="addBrand" floatLabel="always">
        <mat-label>Brand Name</mat-label>
        <input
            matInput
            placeholder="Type Here"
            autocomplete="off"
        />
    </mat-form-field>
    <mat-form-field class="addMatter" floatLabel="always">
        <mat-label>Matter Type</mat-label>
        <input
            matInput
            placeholder="Type Here"
            autocomplete="off"
        />
    </mat-form-field>
    <mat-form-field class="addDepartment" floatLabel="always">
        <mat-label>Department</mat-label>
        <input
            matInput
            placeholder="Type Here"
            autocomplete="off"
        />
    </mat-form-field>
</div>