<div class="panel-title">
  <h1>Add Item</h1>
</div>
<div class="add-item">
  <div class="second-content">
    <h1 class="header-form">Item Description</h1>
    <div class="form-container">
      <mat-form-field class="add-item">
        <mat-label>Number</mat-label>
        <input type="text" placeholder="Item Name" aria-label="Add Item" matInput (input)="searchEquipment($event)"/>
        <!-- <mat-autocomplete #auto="matAutocomplete">
                  @for (option of filteredOptions | async; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                  }
                </mat-autocomplete> -->
      </mat-form-field>
      <mat-form-field class="addEquipment" floatLabel="always">
        <mat-label>Equipment Type</mat-label>
        <input matInput autocomplete="off" />
      </mat-form-field>
      <mat-form-field class="addBrand" floatLabel="always">
        <mat-label>Brand Name</mat-label>
        <input matInput autocomplete="off" />
      </mat-form-field>
      <mat-form-field class="addMatter" floatLabel="always">
        <mat-label>Matter Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let matter of matters" [value]="matter.value">
            {{ matter.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="addMatter" floatLabel="always">
        <mat-label>Color</mat-label>
        <input matInput autocomplete="off" />
      </mat-form-field>
    </div>
    <h1 class="header-form">Item Status</h1>
    <div class="form-container">
      <mat-form-field class="addRemarks" floatLabel="always">
        <mat-label>Status</mat-label>
        <mat-select>
          <mat-option *ngFor="let statuses of status" [value]="statuses.value">
            {{ statuses.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="addRemarks" floatLabel="always">
        <mat-label>Remarks</mat-label>
        <mat-select>
          <mat-option *ngFor="let remark of remarks" [value]="remark.value">
            {{ remark.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="addDepartment" floatLabel="always">
        <mat-label>Department</mat-label>
        <mat-select>
          <mat-option *ngFor="let department of departments" [value]="department.value">
            {{ department.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="first-content">
    <div class="image-container">
      <img *ngIf="imageUrl" [src]="imageUrl" />
    </div>
    <div class="add-image">
      <input type="text" placeholder="Enter Google Drive Image Link" [(ngModel)]="googleDriveLink" (blur)="loadImageFromGoogleDrive()" />
    </div>
  </div>
</div>

<div class="add-button">
  <button mat-raised-button>Add Item</button>
</div>
