form{
    display: flex;
    width: 100%;
    
    position: relative;
}
.panel-title{
    font-size: 50px;
    margin-left: 30px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: table;
    width: 95%;
    font-weight: 700;
}

.hline {
    display: table-cell;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
.hline:after {
    content: '';
    border-top: 1px solid rgb(46, 125, 70);
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.add-item{
    display: flex;
    padding: 1%;
    
}
.first-content{
    position: relative;
    margin: 3%;
    max-width: 0%;
}
.second-content{
    position: relative;
    margin-left: 5%;
    width: 34%;
}
.third-content{
    position: relative;
    width: 34%;
}
.panel-title{
    margin: 3%;
}
.header-form{
    font-size: large;
}
.form-container{
    position: relative;
    border: 1px solid ;
    border-color: rgb(136, 136, 136);
    margin: 2%;
    width: 87%;
}
.addName{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addEquipment{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addBrand{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addMatter{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addRemarks{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.serialNo{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.checkedBy{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addDescription{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addColor{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addDepartment{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addLocation{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.image-container{
    position: relative;
    display: flex;
    align-items: center;
    margin: 2%;
    border: 1px solid ;
    border-color: rgb(136, 136, 136);
    width: 20vh;
    height: 20vh;
    overflow: hidden;
}
.image-container img{
    max-width: 100%;
    max-height: 100%;
}

.add-image .mat-mdc-raised-button.mat-unthemed{
    display: flex;
    width: 100%;
    margin: 2%;
    background-color: rgb(62, 112, 62);
    color: white;
}
.add-button .mat-mdc-raised-button.mat-unthemed{
    display: flex;
    max-width: 100px;
    margin-left: 5%;
    background-color: rgb(62, 112, 62);
    color: white;
}
.loading-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
}

.loading-spinner {
    position: relative;
    z-index: 11;
}

.loading-overlay::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 10;
}
::ng-deep .red-snackbar {
    background-color: #912d2d !important;
    color: rgb(252, 252, 252) !important; 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
}

.mat-mdc-snack-bar-container {
    &.green-snackbar {
        --mdc-snackbar-container-color: rgb(91, 199, 91);
        --mat-mdc-snack-bar-container: rgb(255, 255, 255);
        --mdc-snackbar-supporting-text-color: blue;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    
}