<div class="notification-wrapper">
  <div class="action-wrapper">
    <mat-chip>Mark all as reads</mat-chip>
  </div>
  <div *ngIf="!notifications.length" class="no-notification">Empty Notification</div>
  <a
    *ngFor="let notification of notifications"
    [routerLink]="notification.route"
  >
    <div
      class="notification"
      [class.viewed]="notification.viewed"
      (click)="markAsRead(notification._id)"
    >
      <div class="notification-type">{{ notification.type }}</div>
      <div class="notification-message">{{ notification.message }}</div>
    </div>
  </a>
</div>
