<div class="notification-wrapper">
  <div class="action-wrapper">
    <button mat-stroked-button>Mark All As Read</button>
  </div>
  <a
    *ngFor="let notification of notifications"
    [routerLink]="notification.route"
  >
    <div
      class="notification"
      [class.viewed]="notification.viewed"
      (click)="markAsRead(notification._id)"
    >
      <div class="notification-type">{{ notification.type }}</div>
      <div class="notification-message">{{ notification.message }}</div>
    </div>
  </a>
</div>
