.notification-wrapper {
  padding: 10px;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.action-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}

.notification-wrapper a,
.notification-wrapper a:hover {
  text-decoration: none;
  color: inherit;
}

.notification {
  background: #d3d2d2;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.viewed {
  background-color: rgb(250, 245, 238);
}

.notification-type {
  text-transform: uppercase;
  font-weight: 500;
  color: blueviolet;
  font-size: 12px;
  line-height: normal;
}

.notification-message {
  font-size: 14px;
}

mat-chip.mat-mdc-standard-chip {
  height: var(--mdc-chip-container-height, 24px);
  font-size: 12px;
}

.no-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 50px;
}
