.container{
    display: flex;
}
.content {
    position: absolute;
    bottom: 7%;
    left: 3%;
    padding: 20px;
}
.centered {
    color: white;
    position:relative;
    font-size: 30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.generate-buttons {
    display: flex;
}
.header-text{
    font-size: 60px;
}
.description {
    padding-top: 20px;
    font-size: medium;
    max-width: 600px;
    word-wrap: break-word;
}

.login-button .mat-mdc-raised-button.mat-unthemed {
    display: flex;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 1px;
    background-color: rgb(62, 112, 62);
    color: white;
}