.grey-bar {
    width: 100%;
    height: 50px;
    background-color: #d8dbd8;
    z-index: 2;
}

.top {
    top: 0;
    position: relative;
}

.bottom {
    
    position: fixed;
    bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    padding: 20px;
}

.centered {
    color: white;
    position: relative;
    font-size: 30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.generate-buttons {
    display: flex;
}

.header-text {
    font-size: 60px;
}

.description {
    padding-top: 20px;
    font-size: medium;
    max-width: 600px;
    word-wrap: break-word;
}

.login-button .mat-mdc-raised-button.mat-unthemed {
    display: flex;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 1px;
    background-color: rgb(62, 112, 62);
    color: white;
}
