<html>
<app-login-header></app-login-header>

<body>
<section class="hidden" [@panelTransition]>
    <div class="main-panel">
        <div class="page-panel" id="pagePanel" [@panelTransition]>
            <app-page-panel>
            </app-page-panel>
        </div>
        
        <img src="/assets/USJR1.png" class="logo" [@logoTransition]>

    </div>
</section>
<section class="hidden" [@panelTransition2]>
    <div class="item-panel">
        <h1 class="page-title">New Items <div class="hline"></div></h1>
    
    </div>
</section>
<section class="hidden" [@panelTransition3]>
    <div class="all-item">
        <h1 class="page-title"><div class="hline3"></div>Browse Items </h1>
        
        <div class="search-item">
            <mat-form-field class="searchbar" floatLabel="always">
                <mat-label>Search Item</mat-label>
                <input
                    matInput
                    placeholder="Type Here"
                    autocomplete="off"
                />
                <mat-icon matSuffix class="searchbar">search</mat-icon>
            </mat-form-field>
            
        </div>
        <div class="scrollable-panel">
            <div class="borrow-items-section">
            </div>
        </div>
    </div>
</section>
</body>
</html>
