html{
    scroll-behavior: smooth;
}
.main-panel {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: -3%;
}

.page-panel {
    width: 100%;
    height: 60vh;
    background-color: #dddddd;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 0%;
    
}

.logo {
    position: absolute;
    top: 8%;
    right: 5%;
    width: 85vh;
    height: 85vh;
}
.page-title{
    color: rgb(227, 226, 226);
    font-size: 40px;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: table;
    width: 95%;
    font-weight: 400;
}
.item-panel{
    background-color: rgb(76, 135, 74);
    padding: 1%;
}
.all-item{
    background-color: rgb(49, 121, 46);
    padding: 1%;
}
.hline2 {
    border-top: 2px solid rgb(255, 255, 255);
    width: 90%;
    margin-left: 5%;
    display: inline-block;
    height:50px;
}
.hline {
    display: table-cell;
    width: 86%;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
.hline:after {
    content: '';
    border-top: 5px solid rgb(227, 226, 226);
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.hline3 {
    display: table-cell;
    width: 82%;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
.hline3:after {
    content: '';
    border-top: 5px solid rgb(221, 221, 221);
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.search-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -8vh;
    margin-left: 8vh;
}
.scrollable-panel {
    margin: 8vh;
    height: 400px;
    overflow-y: auto;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
}

.animated-panel {
    animation: panelTransitionAnimation 0.2s ease-in-out;
  }
  
  .animated-panel2 {
    animation: panelTransition2Animation 0.2s ease-in-out;
  }
  
  .animated-panel3 {
    animation: panelTransition3Animation 0.2s ease-in-out;
  }
  
  @keyframes panelTransitionAnimation {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes panelTransition2Animation {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  @keyframes panelTransition3Animation {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 1200px) {
    
    .logo{
      width: 65%;
      height: 30%;
      left: 17%;
      position: absolute;
      
      top: 10%;
    }
    
    .scrollable-panel {
      margin: 8vh;
      height: 100%;
      overflow-y: auto;
      border: 2px solid #e5e5e5;
      border-radius: 5px;
    }
    
    .page-panel {
      width: 100%;
      height: 100%;
      background-color: #dddddd;
      border-radius: 5px;
      position: absolute;
      left: 0%;
      top: 0%;
    }
  }
