<app-login-header></app-login-header>
<div class="container">
    <div class="content">
        <div class="centered">
            <h2 class="header-text">Laboratory Borrowing System</h2>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua.</p>
    
            <div class="generate-buttons">
            <div class="login-button">
                <button mat-raised-button (click)="directToLogin()">Borrow Now</button>
            </div>
        </div>
    </div>
    <app-landing-background></app-landing-background>
</div>