<div class="header">
  <app-header></app-header>
</div>
<div class="page">
  <div class="dashboard-content">
    <app-dashboard-buttons></app-dashboard-buttons>
  </div>
  <div class="page-content">
    <div class="page-title">
      <div
        class="view-category-container clickable"
        [class.cart-openside]="openedCategory"
        (click)="categoryClicked()"
      >
        <mat-icon>menu</mat-icon>
      </div>
      <h1 class="title-page">Borrow Items</h1>
      <div
        class="view-cart-container clickable"
        [class.cart-openside]="openedCart"
        (click)="cartClicked()"
      >
        <mat-icon>shopping_cart</mat-icon>
      </div>
    </div>
    <div class="hline"></div>
    <div class="page-container">
      <!-- search filters -->

      <div class="filter-bar"></div>
      <!-- equipment lists -->

      <div class="equipment-container">
        <mat-drawer-container class="example-container">
          <mat-drawer-content class="item-container">
            <div *ngIf="isFetching" class="loading-overlay">
              <mat-spinner class="loading-spinner"></mat-spinner>
            </div>
            <app-no-results *ngIf="!equipmentlist.length; else elseblock">
            </app-no-results>
            <ng-template #elseblock>
              <div
                *ngIf="!isFetching && noItems"
                class="equipment-list-wrapper"
              >
                <app-borrow-equipment-card
                  class="card"
                  *ngFor="let equipment of equipmentlist"
                  [equipmentlist]="equipment"
                  (addToCart)="addItemToAddedEquipment($event)"
                ></app-borrow-equipment-card>
              </div>
            </ng-template>
            <section id="pagination">
              <mat-paginator
                [length]="pagination.length"
                [pageSize]="pagination.limit"
                [pageIndex]="pagination.page - 1"
                [pageSizeOptions]="pagination.pageSizeOption"
                [showFirstLastButtons]="true"
                (page)="paginate($event)"
              >
              </mat-paginator>
            </section>
          </mat-drawer-content>
          <mat-drawer mode="side" [opened]="openedCategory" position="start">
            <app-inventory-category
              [filter]="inventoryFilter"
            ></app-inventory-category>
          </mat-drawer>
          <mat-drawer mode="side" [opened]="openedCart" position="end">
            <div class="added-equipment-wrapper">
              <h1>Added Items</h1>
              <div class="spinner-wrapper" *ngIf="isFetching; else display">
                <mat-spinner></mat-spinner>
              </div>
              <ng-template #display>
                <div class="borrowed-items-wrapper">
                  <app-added-equipment-card
                    *ngFor="let equipment of addedEquipment"
                    [equipment]="equipment"
                    (toggleInCart)="toggleItemInCart($event)"
                    (removeFromCart)="removeItemFromAddedEquipment($event)"
                  ></app-added-equipment-card>
                </div>
              </ng-template>
              <form [formGroup]="borrowForm" (ngSubmit)="onSubmit()">
                <div class="class-detail">
                  <mat-form-field class="major-filter">
                    <mat-label>Instructor</mat-label>
                    <input
                      type="text"
                      placeholder="Type the name of your instructor"
                      matInput
                      formControlName="instructor"
                      [matAutocomplete]="auto"
                    />
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      [displayWith]="displayFn"
                      (optionSelected)="
                        selectedInstructor = $event.option.value._id
                      "
                    >
                      <mat-option
                        *ngFor="let instructor of filteredInstructor | async"
                        [value]="instructor"
                      >
                        {{ instructor.name }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field class="major-filter">
                    <mat-label>Purpose</mat-label>
                    <mat-select formControlName="purpose">
                      <mat-option
                        *ngFor="let purpose of purpose_list"
                        [value]="purpose"
                      >
                        {{ purpose }}
                      </mat-option>
                      <!-- Add other departments as needed -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="major-filter">
                    <mat-label>Class Code</mat-label>
                    <input matInput type="text" formControlName="classCode" />
                  </mat-form-field>
                  <mat-form-field class="major-filter">
                    <mat-label>Class Name</mat-label>
                    <input matInput type="text" formControlName="className" />
                  </mat-form-field>
                  <mat-form-field class="major-filter">
                    <mat-label>Start Period</mat-label>
                    <input matInput type="time" formControlName="startPeriod" />
                  </mat-form-field>

                  <mat-form-field class="major-filter">
                    <mat-label>End Period</mat-label>
                    <input matInput type="time" formControlName="endPeriod" />
                  </mat-form-field>
                </div>
                <div class="action-wrapper">
                  <button mat-raised-button type="submit">Borrow Items</button>
                </div>
              </form>
            </div>
          </mat-drawer>
        </mat-drawer-container>
      </div>

      <!-- floating shopping cart icon -->
    </div>
  </div>
</div>
