/* .dialog-detail {
  min-width: 600px;
  max-width: 800px;
  width: 90%;
  margin: auto;
}
.item-details-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.item-updates-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.label {
  font-weight: bold;
  width: 150px;
}

.detail {
  flex-grow: 0;
}
.image-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 2%;
  width: 20vh;
  height: 20vh;
  overflow: hidden;
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
}
.item-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc(100% - 150px);
}

.item-details div {
  font-size: 14px;
  margin-bottom: 5px;
}

.item-details div:last-child {
  margin-bottom: 0;
}

.close-button .mat-mdc-raised-button.mat-unthemed {
  display: flex;
  width: 100px;
  margin-left: auto;
  margin-right: 2%;
  margin-top: 2%;
  background-color: rgb(227, 149, 104);
  color: white;
}

::ng-deep .mdc-dialog__actions {
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .dialog-detail {
    padding: 0%;
    min-width: auto;
  }
  .item-details-container,
  .item-updates-container {
    display: contents;
    flex-direction: column;
    padding: 1px;
  }

  .item-details {
    position: relative;
    text-align: left;
    width: 100%;
  }

  .label {
    font-weight: bold;
    width: 150px;
  }

  .detail {
    flex: 1;
    display: block;
  }
} */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding: 2em;
  gap: 20px;
  max-height: 80vh;
  max-width: 650px;
}

.detail-card {
  padding: 1.5rem;
  background-color: hsla(175, 93%, 42%, 0.05);
  border-radius: 10px;
  min-width: 250px;
  width: 25%;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;

  .label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }

  .label {
    text-align: end;
    padding-top: 3px;
  }

  .subtitle {
    /* font-weight: 600;
    font-size: 11px;
    color: rgb(62, 112, 62);
    padding-bottom: 3px;
    line-height: 1.5; */
    color: rgba(0, 0, 0, 0.5);
  }
}

.title {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 0 20px 0;
}

.image-wrapper {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.action-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}
