<div class="wrapper">
  <div class="container" id="container">
    <div class="form-container sign-in">
      <form (ngSubmit)="login()">
        <h1>Sign In</h1>
        <input
          matInput
          type="text"
          name="accountId"
          [(ngModel)]="accountId"
          placeholder="Account ID"
        />
        <input
          matInput
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
        />
        <a href="#">Forget Your Password?</a>
        <button type="submit">Login</button>

        <div class="register-wrapper">
          <p>Hello student, no account yet?</p>
          <div class="register-btn underlined" (click)="directToSignup()">
            Create Account
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
