<div class="panel-title">
    <h1>Add Item</h1>
</div>
<div class="add-item">
    <div class="second-content">
        <h1 class="header-form">Item Description</h1>
        <div class="form-container">
            <mat-form-field class="addName" floatLabel="always">
                <mat-label>Item Name</mat-label>
                <input
                    matInput
                    autocomplete="off"
                />
            </mat-form-field>
            <mat-form-field class="addEquipment" floatLabel="always">
                <mat-label>Equipment Type</mat-label>
                <input
                    matInput
                    autocomplete="off"
                />
            </mat-form-field>
            <mat-form-field class="addBrand" floatLabel="always">
                <mat-label>Brand Name</mat-label>
                <input
                    matInput
                    autocomplete="off"
                />
            </mat-form-field>
            <mat-form-field class="addMatter" floatLabel="always">
                <mat-label>Matter Type</mat-label>
                <input
                    matInput
                    autocomplete="off"
                />
            </mat-form-field>
        </div>
        <h1 class="header-form">Item Status</h1>
        <div class="form-container">
            <mat-form-field class="addRemarks" floatLabel="always">
                <mat-label>Remarks</mat-label>
                <input
                    matInput
                    autocomplete="off"
                />
            </mat-form-field>
            <mat-form-field class="addDepartment" floatLabel="always">
                <mat-label>Department</mat-label>
                <input
                    matInput
                    autocomplete="off"
                />
            </mat-form-field>
        </div>
    </div>
    <div class="first-content">
        <div class="image-container">
            image
        </div>
        <div class="edit-image">
            <button mat-raised-button>Edit Image</button>
        </div>
    </div>
</div>

<div class="edit-button">
    <button mat-raised-button>Edit Item</button>
</div>