<div class="panel-title" >
    <h1>Edit Item</h1>
    <div class="hline"></div>
</div>

<!-- conditional read only all forms -->
<div class="add-item">
    <div class="second-content">
        <h1 class="header-form">Item Description</h1>
        <div class="form-container">
            <mat-form-field class="addName" floatLabel="always">
                <mat-label>Item Name</mat-label>
                <input matInput autocomplete="off" [(ngModel)]="data.name" />
            </mat-form-field>
            <!-- Equipment Type -->
            <mat-form-field class="addEquipment" floatLabel="always">
                <mat-label>Equipment Type</mat-label>
                <input matInput autocomplete="off" [formControl]="equipmentTypeControl"  [(ngModel)]="data.equipmentType" [matAutocomplete]="autoEquipmentType"/>
                <mat-autocomplete #autoEquipmentType="matAutocomplete">
                    <mat-option *ngFor="let filter of filteredEquipmentTypes | async" [value]="filter">
                        {{filter}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <!-- Serial No -->
            <mat-form-field class="addEquipment" floatLabel="always">
                <mat-label>Serial No</mat-label>
                <input matInput autocomplete="off" readonly [(ngModel)]="data.serialNo" />
            </mat-form-field>
            <!-- Brand Name -->
            <mat-form-field class="addBrand" floatLabel="always">
                <mat-label>Brand Name</mat-label>
                <input matInput autocomplete="off" [(ngModel)]="data.brand" [formControl]="brandControl" [matAutocomplete]="autoBrand"/>
                <mat-autocomplete #autoBrand="matAutocomplete">
                    <mat-option *ngFor="let filter of filteredBrands | async" [value]="filter">
                        {{filter}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- Matter Type -->
            <mat-form-field class="addMatter" floatLabel="always">
                <mat-label>Matter Type</mat-label>
                <input matInput autocomplete="off" [(ngModel)]="data.matter"/>
            </mat-form-field>
            <!-- Inventory Type -->
            <mat-form-field class="addMatter" floatLabel="always">
                <mat-label>Inventory Type</mat-label>
                <input matInput autocomplete="off" [(ngModel)]="data.inventorytype"/>
            </mat-form-field>
            <!-- Color -->
            <mat-form-field class="addMatter" floatLabel="always">
                <mat-label>Color</mat-label>
                <input matInput autocomplete="off" [(ngModel)]="data.color"/>
            </mat-form-field>
        </div>
    </div>
    <div class="third-content">
        <h1 class="header-form">Item Status</h1>
        <div class="form-container">
            <mat-form-field class="addRemarks" floatLabel="always">
                <mat-label>Remarks</mat-label>
                <input matInput autocomplete="off" [(ngModel)]="data.remarks" />
            </mat-form-field>
            <mat-form-field class="addRemarks" floatLabel="always">
                <mat-label>Updated By</mat-label>
                <input matInput autocomplete="off" readonly [(ngModel)]="data.checkedBy" />
            </mat-form-field>
            <!-- Department -->
            <mat-form-field class="addDepartment" floatLabel="always">
                <mat-label>Department</mat-label>
                <input matInput autocomplete="off" readonly [(ngModel)]="data.department" />
            </mat-form-field>
            <mat-form-field class="addDepartment" floatLabel="always">
                <mat-label>Location</mat-label>
                <input matInput autocomplete="off" readonly [(ngModel)]="data.location" />
            </mat-form-field>
            <mat-form-field class="addDepartment" floatLabel="always">
                <mat-label>Date Acquired</mat-label>
                <input matInput autocomplete="off" readonly [value]="data.dateAcquired | date: 'mediumDate'" />
            </mat-form-field>
        </div>
    </div>
    <div class="first-content">
        <div class="image-container">
            <img class="fit-image" [src]="data.images.thumbnailUrl" alt="Item Image" *ngIf="data.images.thumbnailUrl; else noImage">
            <ng-template #noImage>
                <p>No image link provided.</p>
            </ng-template>
        </div>
        <div class="edit-image" *ngIf="isFaculty()">
            <!-- <button mat-raised-button *ngIf="!isEditingImage" (click)="isEditingImage = true">Edit Image</button>
            <input type="text" placeholder="Enter Google Drive Image Link" [(ngModel)]="googleDriveLink" *ngIf="isEditingImage" (input)="loadImageFromGoogleDrive($event)" [disabled]="isFaculty()"> -->
            <button mat-raised-button *ngIf="!isEditingImage" (click)="toggleEditImage()">Edit Image</button>
            <input type="file" #fileInput (change)="loadImageFromFile($event)" *ngIf="isEditingImage" accept="image/*">
        </div>
    </div>
</div>

<!-- unconditional button -->
<div class="buttons">
    <div class="edit-button" *ngIf="isFaculty()">
    <button mat-raised-button (click)="saveChanges()">Edit Item</button>
    </div>

    <span class="spacer"></span>
    <div class="report-button" *ngIf="isFaculty()">
        <button mat-raised-button >Report Item</button>
    </div>
</div>
