<div class="container">
  <!-- completed -->
  <div class="step completed">
    <div class="v-stepper">
      <div class="circle"></div>
      <div class="line"></div>
    </div>

    <div class="content">
      <div class="title">updated_field</div>
      <!-- <div class="subtitle">{{ getDoerName(history) }}</div>
        <div class="subtitle">Quantity: {{ history.quantity }}</div>
        <div class="subtitle">Condition: {{ history?.condition }}</div>
        <div class="subtitle">Remarks: {{ history?.remarks }}</div>
        <div class="subtitle">{{ history.updatedAt | date : "medium" }}</div> -->
    </div>
  </div>
</div>
