<div class="container">
  <!-- completed -->
  <div class="step completed" *ngFor="let update of updates">
    <div class="v-stepper">
      <div class="circle"></div>
      <div class="line"></div>
    </div>

    <div class="content">
      <div class="title">{{ update.updatedField }}</div>
      <div class="subtitle">{{ update.oldValue }} → {{ update.newValue }}</div>
      <div class="subtitle">{{update.doer.firstName}} {{update.doer.lastName}}</div>
      <div class="subtitle">{{ update.date | date : "mediumDate" }}</div>
    </div>
  </div>
</div>
