.split {
    height: 100%;
    width: 42%;
    position: fixed;
    z-index: 0;
    top: 0;
    overflow-x: hidden;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
}

.left {
    left: 0;
    background-color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.generate-buttons{
    display: flex;

}
.login-button .mat-mdc-raised-button.mat-unthemed{
    display: flex;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 1px;
    background-color: rgb(62, 112, 62);
    color: white;
}

.swipe-right {
    transform: translateX(0);
}