<div class="header">
    <app-header></app-header>
</div>
<h1 class="page-title">
    <div class="toggle-button">
    <button class="toggle-button" (click)="toggleSidebar()" mat-icon-button >
        <mat-icon>{{ isSidebarExpanded ? 'chevron_left' : 'menu' }}</mat-icon>
    </button>
    </div>
    Dashboard
    <div class="hline">

    </div>
</h1>
<div class="dashboard-content">
    
    <div class="sidebar" [class.expanded]="isSidebarExpanded">

        <div class="buttons">
            <button (click)="directToInventory()" mat-raised-button>
                <mat-icon>inbox</mat-icon>
                <span class="button-text" *ngIf="isSidebarExpanded">Borrow Items</span>
            </button>

            <button (click)="directToBorrowRequest()" mat-raised-button>
                <mat-icon>inbox</mat-icon>
                <span class="button-text" *ngIf="isSidebarExpanded">Borrow Requests</span>
            </button>

            <button (click)="directToHistory()" mat-raised-button>
                <mat-icon>history</mat-icon>
                <span class="button-text" *ngIf="isSidebarExpanded">History</span>
            </button>
        </div>
    </div>
    <div class="menu-panel-mobile">
        <div class="buttons">
            <button style=" justify-content: flex-start;" mat-raised-button class="buttons-buttons" (click)="directToInventory()">
                <div class="button-text">
                    <mat-icon class="icon-text">inbox</mat-icon>
                    Browse Items
                </div>
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button class="buttons-buttons"  (click)="directToBorrowRequest()">
                <div class="button-text">
                    <mat-icon class="icon-text">assignment</mat-icon>
                    Borrow Requests
                </div>
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  class="buttons-buttons"  (click)="directToHistory()">
                <div class="button-text">
                    <mat-icon class="icon-text">history</mat-icon>
                    History
                </div>
                </button>
        </div>
    </div>
    <div class="contents">
        <app-student-contents></app-student-contents>
    </div>

</div>