<app-student-header></app-student-header>
<h1 class="page-title">Dashboard <div class="hline"></div></h1>
<div class="dashboard-content">
    
    <div class="menu-panel">
        <div class="buttons">
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToInventory()">
                <mat-icon>inbox</mat-icon>
                    Browse Items
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button   (click)="directToHistory()">
                <mat-icon>history</mat-icon>
                    History
                </button>
        </div>
        
    </div>
    <div class="contents">
        <app-student-contents></app-student-contents>
    </div>

</div>