
<div class="second-content">
    <h1 class="header-form">Change Password</h1>
    <div class="form-container">
<mat-form-field class="addEquipment" floatLabel="always">
    <mat-label>Current Password</mat-label>
    <input matInput autocomplete="off" />
  </mat-form-field>
  <mat-form-field class="addEquipment" floatLabel="always">
    <mat-label>New Password</mat-label>
    <input matInput autocomplete="off" />
  </mat-form-field>
  <mat-form-field class="addEquipment" floatLabel="always">
    <mat-label>Confirm Password</mat-label>
    <input matInput autocomplete="off" />
  </mat-form-field>
  </div>
  </div>

  <div class="buttons">
    <div class="edit-button">
      <button mat-raised-button>
        Change Password
      </button>
    </div>
  

  </div>
  