<div class="second-content">
  <h1 class="header-form">Change Password</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
    <div class="form-container">
      <mat-form-field class="addEquipment" floatLabel="always">
        <mat-label>Current Password</mat-label>
        <input matInput formControlName="currentPassword" autocomplete="off" type="password" />
        <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('incorrect')">
          Current password is incorrect.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="addEquipment" floatLabel="always">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" autocomplete="off" type="password" />
      </mat-form-field>
      <mat-form-field class="addEquipment" floatLabel="always">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" autocomplete="off" type="password" />
      </mat-form-field>
    </div>
    <div class="buttons">
      <div class="edit-button">
        <button mat-raised-button type="submit" [disabled]="!changePasswordForm.valid">
          Change Password
        </button>
      </div>
    </div>
  </form>
</div>
