<div class="scrollable-panel">
  <app-no-results
    *ngIf="!borrowedItems.length; else elseblock"
    [message]="noresult_message"
    [isDisplay]="true"
  >
  </app-no-results>
  <ng-template #elseblock>
    <div *ngFor="let borrowedItem of borrowedItems">
      <app-borrowed-item-row
        [borrowedItem]="borrowedItem"
        (onSelectedEvent)="onSelectedEvent($event)"
      ></app-borrowed-item-row>
    </div>
  </ng-template>
  <div class="action-wrapper">
    <button
      mat-raised-button
      color="accent"
      (click)="updateSelectedBorrowedItem('pending_return')"
    >
      Return Selected
    </button>
  </div>
</div>
