<div class="header">
  <app-header></app-header>
</div>
<div class="page">
  <div class="dashboard-content">
    <app-dashboard-buttons></app-dashboard-buttons>
  </div>
  <div class="page-content">
    <div class="page-title">
      <div
        class="view-category-container clickable"
        [class.cart-openside]="openedCategory"
        (click)="categoryClicked()"
      >
        <mat-icon>tune</mat-icon>
      </div>
      <h1 class="title-page underlined">Borrowed Items</h1>
    </div>
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" [opened]="openedCategory" position="start">
        <app-borrow-item-category></app-borrow-item-category>
      </mat-drawer>
      <mat-drawer-content class="custom-drawer-itmes">
        <app-borrow-card [items]="borrowedItems"></app-borrow-card>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>