<div class="scrollable-panel">
  <div class="info-text-wrapper">
    <mat-icon>info</mat-icon>
    <p>
      You can update faculty confirmed and override pending faculty confirmation
      request
    </p>
    <span class="spacer"></span>
    <mat-checkbox
      labelPosition="before"
      [(ngModel)]="selected_all"
      (change)="selected_all = $event.checked"
      >Select All</mat-checkbox
    >
  </div>
  <app-no-results
    *ngIf="!borrowedItems.length; else elseblock"
    [message]="noresult_message"
    [isDisplay]="true"
  >
  </app-no-results>
  <ng-template #elseblock>
    <div *ngFor="let borrowedItem of borrowedItems">
      <app-borrowed-item-row
        [borrowedItem]="borrowedItem"
        [selected]="selected_all"
        (onSelectedEvent)="onSelectedEvent($event)"
      ></app-borrowed-item-row>
    </div>
  </ng-template>
  <div class="action-wrapper">
    <button
      mat-raised-button
      color="accent"
      (click)="updateSelectedBorrowedItem('oic_approved')"
      [disabled]="selected_counter == 0"
    >
      Approve Selected
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="updateSelectedBorrowedItem('oic_rejected')"
      [disabled]="selected_counter == 0"
    >
      Reject Selected
    </button>
  </div>
</div>
