<mat-card appearance="outlined">
    <mat-card-content class="panel-description">
      <div mat-card-title class="detail-info">
        <div class="borrowed-items-class">New Account</div>
        <div class="detail-date">
          {{ data.dateborrowed | date : "mediumDate" }}
        </div>
      </div>
      <div class="hline"></div>
      <div class="item-container">
        <div>
          <div class="item-row">
            <div class="detail-id">ID:</div>
            <div class="detail-name">| 2020005780</div>
          </div>
          <div class="item-row">
            <div class="detail-id">Name: </div>
            <div class="detail-name">| Juan Dela Cruz</div>
          </div>
          
          <div class="item-row">
            <div class="detail-id">Role: </div>
            <div class="detail-name">| Student</div>
          </div>
          
          <div class="item-row">
            <div class="detail-id">Department: </div>
            <div class="detail-name">| Computer Engineering</div>
          </div>
          
          <div class="item-row">
            <div class="detail-id">Email: </div>
            <div class="detail-name">| juandela.cruz.20@usjr.edu.ph</div>
          </div>
        </div>
      </div>
  
      <div class="button-content">
        <span class="spacer"></span>
        <div class="report-button">
          <button mat-raised-button (click)="approvedItems(status_approved)">
            Approve
          </button>
        </div>
      </div>
    </mat-card-content>
    
  </mat-card>
  
  <mat-card appearance="outlined">
    <mat-card-content class="panel-description">
      <div mat-card-title class="detail-info">
        <div class="borrowed-items-class">New Account</div>
        <div class="detail-date">
          {{ data.dateborrowed | date : "mediumDate" }}
        </div>
      </div>
      <div class="hline"></div>
      <div class="item-container">
        <div>
          <div class="item-row">
            <div class="detail-id">ID:</div>
            <div class="detail-name">| 2023002040</div>
          </div>
          <div class="item-row">
            <div class="detail-id">Name: </div>
            <div class="detail-name">| Jose Rizal</div>
          </div>
          
          <div class="item-row">
            <div class="detail-id">Role: </div>
            <div class="detail-name">| Reads</div>
          </div>
          
          <div class="item-row">
            <div class="detail-id">Department: </div>
            <div class="detail-name">| Computer Engineering</div>
          </div>
          
          <div class="item-row">
            <div class="detail-id">Email: </div>
            <div class="detail-name">| jose.rizal.20@usjr.edu.ph</div>
          </div>
        </div>
      </div>
  
      <div class="button-content">
        <span class="spacer"></span>
        <div class="report-button">
          <button mat-raised-button (click)="approvedItems(status_approved)">
            Approve
          </button>
        </div>
      </div>
    </mat-card-content>
    
  </mat-card>
  