<div class="dialog-container">
  <h2 mat-dialog-title>Equipment Details</h2>
  <form [formGroup]="equipmentForm">
    <mat-dialog-content class="dialog-content">
      <div class="img-wrapper">
        <img [src]="data.images.midSizeUrl || defaultImage" alt="" />
      </div>

      <div class="detail-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Serial No.</mat-label>
          <input matInput formControlName="serialNo" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Equipment Type</mat-label>
          <input matInput formControlName="equipmentType" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Brand</mat-label>
          <input matInput formControlName="brand" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Color</mat-label>
          <input matInput formControlName="color" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Model No</mat-label>
          <input matInput formControlName="modelNo" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input matInput formControlName="quantity" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Unit</mat-label>
          <input matInput formControlName="unit" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Matter</mat-label>
          <input matInput formControlName="matter" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Department</mat-label>
          <input matInput formControlName="department" readonly />
        </mat-form-field>
      </div>
    </mat-dialog-content>
  </form>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="equipmentForm.value" cdkFocusInitial>
      Confirm
    </button>
  </mat-dialog-actions>
</div>
