
<div class="dialog-detail">
    <h2 mat-dialog-title>Item Details</h2>
    <div mat-dialog-content>
        <div class="item-details-container">
            <div class="image-container">
                <img
                    class="fit-image"
                    [src]="itemDetails?.images?.thumbnailUrl ? displayImage : defaultImage"
                    alt=""
                />
            </div>
            <div class="item-details">
                <div class="row">
                    <div class="label">Name:</div>
                                
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
        
                </div>
                
                <div class="row">
                    <div class="label">Serial No:</div>
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="label">Equipment Type:</div>
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>

                <div class="row">
                    <div class="label">Brand:</div>
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="label">Matter:</div>
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="label">Inventory Type:</div>
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <div class="label">Quantity:</div>
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <div class="label">Condition:</div>
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <div class="label">Status:</div>
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <div class="label">Availability:</div>
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <div class="label">Location:</div>
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <div class="label">Confirmed:</div>
                    <mat-form-field class="detail" floatLabel="always">
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="close-button">
        <button mat-button (click)="dialogRef.close()">Close</button>
    </div>
</div>