<mat-card appearance="outlined">
  <mat-card-content class="panel-description">
    <div class="class-detail-wrapper">
      <div class="class-wrapper">
        <div class="class-details">
          <span>CLASS: </span>{{ data.className }}
        </div>
        <div class="class-details">
          <span> PERIOD: </span>{{ data.startPeriod }} - {{ data.endPeriod }}
        </div>
        <div class="class-details">
          <span>PURPOSE: </span>{{ data.purpose }}
        </div>
        <div class="class-details">
          <span>INSTRUCTOR: </span>{{ instructor }}
        </div>
      </div>
      <div class="borrower-wrapper">
        <div class="borrower">{{ borrower }}</div>
        <mat-card-subtitle>
          {{ data.dateborrowed | date : "mediumDate" }}
        </mat-card-subtitle>
      </div>
    </div>
    <div class="hline"></div>
    <div class="checkbox-container">
      <div class="detail-select">Select All</div>
      <mat-checkbox
        [(ngModel)]="selectAll"
        (change)="toggleSelectAll($event)"
      ></mat-checkbox>
    </div>
    <div class="item-container">
      <div
        *ngFor="let item of items; let i = index"
        [class.last-item]="i === items.length - 1"
      >
        <div class="item-row">
          <div class="img-wrapper">
            <img
              [src]="item?.equipment?.images?.thumbnailUrl ?? defaultImage"
              alt="Equipment Image"
            />
          </div>
          <div class="detail-wrapper">
            <div>Qty. {{ item.quantity }}</div>
            <div>{{ item.equipment.name }}</div>
            <div>{{ item.condition }}</div>
            <div class="status">
              <span>{{ formatStatus(item.status) }}</span>
              <mat-icon [matMenuTriggerFor]="menu">help</mat-icon>
              <mat-menu #menu="matMenu">
                <app-borrow-status-menu></app-borrow-status-menu>
              </mat-menu>
            </div>
          </div>
          <mat-checkbox
            [(ngModel)]="item.selected"
            (change)="onItemChange(item)"
            [disabled]="item.disabled"
          ></mat-checkbox>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>

    <div class="button-content">
      <button
        mat-raised-button
        color="warn"
        [disabled]="actionDisabled()"
        (click)="updateStatus(status_rejected)"
      >
        Reject
      </button>
      <button
        *ngIf="isClassFaculty()"
        mat-raised-button
        color="primary"
        [disabled]="actionDisabled()"
        (click)="updateStatus(status_faculty_confirmed)"
      >
        Faculty Confirm
      </button>
      <button
        *ngIf="isOIC"
        mat-raised-button
        color="primary"
        [disabled]="actionDisabled()"
        (click)="updateStatus(status_approved)"
      >
        OIC Approve
      </button>
    </div>
  </mat-card-content>
</mat-card>
