.page-title {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0px;
  padding: 4vh;
  margin-bottom: -5vh;
}
.hline {
  position: relative;
  width: 100%;
  border: none;
}
.hline:after {
  content: "";
  border-top: 1px solid rgb(46, 125, 70);
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.example-container {
  width: 100%;
  height: 80%;
}
.custom-drawer-items {
  padding: 2px;
}
.panel-name {
  margin-bottom: 5px;
}

.custom-drawer {
  width: 15%;
  border-color: #dedcdc;
}
.table-header {
  position: sticky;
  top: 0;
  background-color: rgb(225, 223, 223);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
}
.table-header .header-name,
.table-header .header-serial,
.table-header .header-equipment,
.table-header .header-brand,
.table-header .header-desc,
.table-header .header-status,
.table-header .header-quantity {
  flex: 1;
}
.table-content {
  overflow: hidden;
}
.item-table {
  width: 100%;
  table-layout: fixed;
}
.mat-header-row {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}
.item-table th,
.item-table td {
  border: 1px solid #ddd;
  word-wrap: break-word;
}
.header-name {
  margin-left: 2%;
  margin-right: 20%;
}
.header-serial {
  margin-left: -2%;
}
.header-equipment {
  margin-left: -5%;
}
.header-brand {
  margin-left: -2%;
}
.header-desc {
  margin-left: -5%;
}
.header-status {
  margin-left: -2%;
}
.header-quantity {
  margin-left: -2%;
}
.item-table th,
.item-table td {
  border: 1px solid #ddd;
  word-wrap: break-word;
}
.scrollable-panel {
  margin: 1%;
  height: 60vh;
  overflow-y: auto;
  /* border: 1px solid #575757; */
  border-radius: 5px;
  padding: 10px;
}
.left-drawer-header {
  margin: 1%;
}
.menu-panel {
  margin: 10px;
  margin-left: 15px;
  margin-top: 5px;
  float: left;
  height: 65vh;
  padding: 7px;
  border: none;
}
.contents {
  width: 100%;
}
.buttons {
  flex-direction: column;
}
.buttons .mat-mdc-raised-button.mat-unthemed {
  text-align: left;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 0px;
  box-shadow: none;
}

.panel-description {
  display: flex;
  flex-wrap: wrap;
}

.transaction-title {
  max-width: 20%;
}
.detail-container-name {
  width: 8%;
  margin-right: 5%;
}

.detail-container {
  width: 8%;
  margin-right: 5%;
}

.detail-container-equipment {
  width: 12%;
  margin-right: 7%;
}
.detail-container-brand {
  width: 12%;
  margin-right: 3%;
}
.detail-container-desc {
  width: 12%;
  margin-right: 5%;
}
.detail-container-status {
  width: 12%;
  margin-right: 9%;
}
.detail-container-quantity {
  width: 12%;
}
.detail-container .detail-label {
  font-weight: bold;
  margin-right: 5px;
}

.spacer {
  margin-right: 3%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
}
.revision-wrapper {
  padding: 10px;

  p {
    font-size: 12px;
    margin: 0;
    padding: 3px 0;
    line-height: normal;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.revised-defective {
  font-weight: 500;
  color: rgb(255, 32, 32);
}

.revised {
  font-weight: 500;
  color: orange;
}

.nodisp {
    display: none;
}