<div class="panel-name"></div>

<div class="scrollable-panel">
  <div class="table-content">
      <ng-container matColumnDef="itemPanel">
        <div *ngFor="let user of users">
          <app-account-request-card-panel [data]="user"></app-account-request-card-panel>
        </div>
        <div>
          
        </div>
      </ng-container>
    <ng-template #noResults>
      <p>No Results Found</p>
    </ng-template>
  </div>
</div>

<div class="paginator">
  <mat-paginator >
  </mat-paginator>
</div>

