<div class="header">
  <app-header></app-header>
</div>

<div class="page-title">
  <div
    class="view-category-container clickable"
    [class.cart-openside]="openedCategory"
    (click)="openedCategory = !openedCategory"
  >
    <mat-icon>menu</mat-icon>
  </div>

  <div class="title-page">Inventory Requests</div>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="openedCategory" position="start">
    <app-inventory-category [filter]="inventoryFilter"></app-inventory-category>
  </mat-drawer>
  <mat-drawer-content class="custom-drawer-itmes">
    <app-inventory-equipment-request-card
      [equipments]="equipments"
    ></app-inventory-equipment-request-card>
    <mat-paginator> </mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>
