<mat-card appearance="outlined">
  <mat-card-content class="panel-description">
    <div class="class-detail-wrapper">
      <div class="class-wrapper">
        <div class="class-details">
          <span>CLASS: </span>{{ data.className }}
        </div>
        <div class="class-details">
          <span> PERIOD: </span>{{ data.startPeriod }} - {{ data.endPeriod }}
        </div>
        <div class="class-details">
          <span>PURPOSE: </span>{{ data.purpose }}
        </div>
        <div class="class-details">
          <span>INSTRUCTOR: </span>{{ instructor }}
        </div>
      </div>
      <div class="borrower-wrapper">
        <div class="borrower">{{ borrower }}</div>
        <mat-card-subtitle>
          {{ data.dateborrowed | date : "mediumDate" }}
        </mat-card-subtitle>
      </div>
    </div>
    <div class="hline"></div>
    <div class="checkbox-container">
      <div class="detail-select">Select All</div>
      <mat-checkbox
        [(ngModel)]="selectAll"
        (change)="toggleSelectAll($event)"
      ></mat-checkbox>
    </div>
    <div class="item-container">
      <div
        *ngFor="let item of items; let i = index"
        [class.last-item]="i === items.length - 1"
      >
        <div class="item-row">
          <div class="img-wrapper">
            <img
              [src]="item?.equipment?.images?.thumbnailUrl ?? defaultImage"
              alt="Equipment Image"
            />
          </div>
          <div class="detail-wrapper">
            <div>{{ item.quantity }}</div>
            <div>{{ item.equipment.name }}</div>
            <mat-form-field>
              <mat-label>Condition</mat-label>
              <input
                matInput
                [matAutocomplete]="autocondition"
                [readonly]="item.disabled"
                [(ngModel)]="item.condition"
                (input)="onFilterCondition($event)"
              />
              <mat-autocomplete
                #autocondition="matAutocomplete"
                (optionSelected)="item.condition = $event.option.value"
              >
                <mat-option
                  *ngFor="let condition of filteredconditions | async"
                  [value]="condition"
                >
                  {{ condition }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Remarks</mat-label>
              <input
                matInput
                [(ngModel)]="item.remarks"
                [readonly]="item.disabled"
              />
            </mat-form-field>
            <div>{{ formatStatus(item.status) }}</div>
          </div>
          <mat-checkbox
            [(ngModel)]="item.selected"
            (change)="onItemChange(item)"
            [disabled]="item.disabled"
          ></mat-checkbox>
        </div>
      </div>
    </div>

    <div class="action-wrapper">
      <button
        class="report-button"
        mat-raised-button
        (click)="releaseItems(status_released)"
      >
        Release
      </button>
      <button mat-raised-button (click)="returnItems(status_return)">
        Return
      </button>
    </div>
  </mat-card-content>
</mat-card>
