
<mat-card appearance="outlined">
    
    <mat-card-content>
    <h1 mat-card-title>Borrowed User</h1>
    <div *ngFor="let item of items; index as i">
        <p>{{ item.name }}</p>
    </div>
    </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
    
    <mat-card-content>
    <h1 mat-card-title>Borrowed User</h1>
    <div *ngFor="let item of items; index as i">
        <p>{{ item.name }}</p>
    </div>
    </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
    
    <mat-card-content>
    <h1 mat-card-title>Borrowed User</h1>
    <div *ngFor="let item of items; index as i">
        <p>{{ item.name }}</p>
    </div>
    </mat-card-content>
</mat-card>