.card-container {
  /* This makes all divs the same width */
  /* background-color: lightgray; */
  /* margin: 5px; */
  /* width: 100%; */
  gap: 5px;
  min-height: 50px;
  /* background-color: rgba(65, 116, 94, 0.2); */
}

.image-wrapper .fit-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
  gap: 8px;
}

.text-wrapper .item-name {
  -webkit-text-decoration: underline rgba(187, 53, 180, 0.3) solid 4px;
  text-decoration: underline rgba(187, 53, 180, 0.3) solid 0.2em;
  text-underline-offset: 1px;
  text-decoration-skip-ink: none;
}

.text-wrapper .item-name,
.text-wrapper .availability {
  font-size: 15px;
  font-weight: 400;
  max-width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
}

.text-wrapper .availability {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(75 149 75);
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.text-wrapper .availability mat-icon {
  height: 20px;
  width: 20px;
}

.text-wrapper .availability mat-icon.material-icons {
  font-size: 18px;
}

.text-wrapper .availability.unavailable {
  color: rgb(85 85 85);
}

.text-wrapper .brand {
  font-size: 13px;
  color: #3d3b3b;
  padding: 0 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.action-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.mat-mdc-unelevated-button.mat-mdc-button-base {
  height: 30px;
}
