<!-- <p>borrow-equipment-card works!</p> -->
<div class="card-container">
  <div class="image-wrapper">
    <img
      class="fit-image"
      src="../../../../assets//equipment_default_image.png"
      alt=""
    />
  </div>
  <div class="text-wrapper">
    <div class="item-name">Long Nose 001 404</div>
    <div class="brand">BrandName</div>
  </div>
  <div class="action-wrapper">
    <button mat-flat-button>DETAIL</button>
    <button mat-flat-button color="primary">ADD</button>
  </div>
</div>
