<!-- <p>borrow-equipment-card works!</p> -->
<div class="card-container">
  <div class="image-wrapper">
    <img
      class="fit-image"
      [src]="equipment?.images?.midSizeUrl ? displayImage : defaultImage"
      alt=""
    />
  </div>
  <div class="text-wrapper">
    <div class="item-name">{{ equipment.name }}</div>
    <div class="brand">{{ equipment.brand }}</div>
  </div>
  <div class="action-wrapper">
    
    <div class="detail-button">
      <button mat-flat-button>DETAIL</button>
    </div>
    <div class="add-button">
      <button mat-flat-button (click)="addEquipment()">ADD</button>
    </div>
  </div>
</div>
