.page-title{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0px;
    padding: 4vh;
    margin-bottom: -5vh;
}
.hline {
    position: relative;
    width: 100%;
    border: none;
}
.hline:after {
    content: '';
    border-top: 1px solid rgb(46, 125, 70);
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.example-container {
    width: 100%;
    height: 80%;
}
.custom-drawer-items {
    padding: 2px;
}
.panel-name{
    margin-bottom: 5px;
}

.custom-drawer {
    width: 15%;
    border-color: #dedcdc;
}
.table-header {
    position: sticky;
    top: 0;
    background-color: rgb(225, 223, 223);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
}
.table-header .header-fileName,
.table-header .header-department,
.table-header .header-role,
.table-header .header-name,
.table-header .header-date,
.table-header .header-location{
    flex: 1;
}
.table-content {
    overflow: hidden;
}
.item-table {
    width: 100%;
    table-layout: fixed;
}
.mat-header-row {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}
.header-transaction{
    margin-left: 2%;
    margin-right: 20%;
}
.header-fileName{
    margin-left: 2%;
    margin-right: 20%;
}
.header-id{
    margin-left: -7%;
}
.header-name{
    margin-left: 7%;
}
.header-role{
    margin-left: -4%;
}
.header-transaction-role{
    margin-left: -4%;
}
.header-department{
    margin-left: -10%;
}
.header-location{
    margin-left: -5%;
}
.header-date{
    margin-left: -2%;
}
.item-table th,
    .item-table td {
    border: 1px solid #ddd;
    word-wrap: break-word;
}
.scrollable-panel {
    margin: 1%;
    height: 60vh;
    overflow-y: auto;
    border: 1px solid #575757;
    border-radius: 5px;
    padding: 10px;
}
.left-drawer-header{
    margin: 1%;
}
.menu-panel {
    margin: 10px;
    margin-left: 15px;
    margin-top: 5px;
    float: left;
    height: 65vh;
    padding: 7px;
    border: none;
}
.contents{
    width: 100%;
}
.buttons{
    flex-direction: column;
}
.buttons .mat-mdc-raised-button.mat-unthemed{
    text-align: left;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
}

.panel-description {
    display: flex;
    flex-wrap: wrap;
}

.transaction-title{
    max-width: 20%;
}
.detail-container {
    width: 8%;
    margin-right: 5%;
}
.detail-id{
    width: 3%;
    margin-right: 20%;
    margin-left: -5%;
}
.detail-user{
    width: 12%;
    margin-right: 7%;
}
.detail-download{
    width: 12%;
    margin-right: 7%;
}
.detail-role{
    width: 10%;
    margin-right: 3%;
}
.detail-department{
    width: 10%;
    margin-right: 5%;
}
.detail-location{
    width: 5%;
    margin-right: 9%;
}
.detail-date{
    width: 10%;
}

.detail-container {
    width: 8%;
    margin-right: 5%;
}
.detail-id{
    width: 3%;
    margin-right: 20%;
    margin-left: -5%;
}
.detail-user-transaction{
    width: 12%;
    margin-right: 7%;
}
.detail-download{
    width: 12%;
    margin-right: 7%;
    margin-left: 17%;
}
.detail-role{
    width: 10%;
    margin-right: 3%;
}
.detail-department{
    width: 10%;
    margin-right: 5%;
}
.detail-location{
    width: 10%;
    margin-right: 9%;
    margin-left: -4%;
}
.detail-location-transaction{
    width: 5%;
    margin-right: 9%;
}
.detail-date{
    width: 10%;
}
.detail-date-transaction{
    width: 10%;
}
.detail-container
.detail-label {
    font-weight: bold;
    margin-right: 5px;
}


.spacer {
    margin-right: 3%;
}