<app-header-oic></app-header-oic>
<h1 class="page-title">Dashboard <div class="hline"></div></h1>
<div class="dashboard-content">
    
    <div class="menu-panel">
        <div class="buttons">
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToInventory()">
                <mat-icon>inbox</mat-icon>
                    Inventory
                </button>
                <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToItemDetails()">
                    <mat-icon>inbox</mat-icon>
                        Item Details
                    </button>
            <button style=" justify-content: flex-start;" mat-raised-button (click)="showStudentRequests()">
                <mat-icon>assignment</mat-icon>
                    Item Requests
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button (click)="showAccountRequests()">
                <mat-icon>assignment</mat-icon>
                    Account Requests
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="showReports()">
                <mat-icon>report</mat-icon>
                        Reports
                    </button>
            <button style=" justify-content: flex-start;" mat-raised-button   (click)="directToHistory()">
                <mat-icon>history</mat-icon>
                    History
                </button>
                <button style=" justify-content: flex-start;" mat-raised-button   (click)="directToManageStudents()">
                    <mat-icon>supervisor_account</mat-icon>
                        Manage Students
                    </button>
        </div>
        
        
    </div>
    <div class="contents">
        <app-content-tabs *ngIf="showContentTabs"></app-content-tabs>
        <app-system-reports  *ngIf="showReportsComponent"></app-system-reports>
        <app-inventory-levels *ngIf="showInventoryComponent"></app-inventory-levels>
    </div>

</div>