.expansion-panel-container {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.borrowed-item-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex: 1 1 0;
}

.borrowed-item-detail div {
  flex: 1;
  padding: 0 5px;
}
