<div class="expansion-panel-container">
  <div class="expansion-panel-wrapper">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ itemborrowed["equipment"].name }}
        </mat-panel-title>
        <mat-panel-description class="borrowed-item-detail">
          <div>{{ itemborrowed["quantity"] }}</div>
          <div>{{ itemborrowed.condition }}</div>
          <div>{{ itemborrowed["status"] }}</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-custom-stepper [histories]="histories"></app-custom-stepper>
    </mat-expansion-panel>
  </div>
  <mat-checkbox [(ngModel)]="selected"></mat-checkbox>
</div>
