.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  padding: 10px 0 20px 0;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
}

.detail-wrapper .subtitle {
  font-weight: 600;
  font-size: 11px;
  color: rgb(62, 112, 62);
  line-height: 1;
}
