<mat-toolbar class="header">
  <img src="/assets/USJR1.png" class="logo" />
  <div class="header-content">
    <div class="title-text">University of San Jose - Recoletos</div>
    <div class="sub-text">Laboratory Borrowing System</div>
  </div>

  <span>
    <div class="button-header">
      <a href="" (click)="dashboard($event)">Dashboard</a>
      <a href="" (click)="inventory($event)">Inventory</a>
      <a href="" (click)="history($event)">History</a>
      <a href="" (click)="students($event)">Manage Students</a>
    </div>
  </span>
  <div class="spacer"></div>
  <span>
    <div class="button-header-profile">
      <button
        mat-icon-button
        [matMenuTriggerFor]="notificationMenu"
        (click)="notification_count = 0"
      >
        <mat-icon
          [matBadge]="notification_count"
          [matBadgeHidden]="notification_count == 0"
        >
          notifications
        </mat-icon>
        <!-- Use 'notifications' for a generic notifications icon -->
      </button>
      <mat-menu #notificationMenu="matMenu">
        <div class="not-panel">
          <div *ngFor="let msg of notification_messages">{{ msg }}</div>
        </div>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="profileName">
        <span>Hello, {{ this.currentUser.firstName }}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout($event)">Logout</button>
      </mat-menu>
    </div>
  </span>
</mat-toolbar>
