<div class="itemlist">
    <!-- data design add columns -->
    <mat-accordion>
        <mat-expansion-panel #panel mouseEnterLeaveDebounce
        (debounceMouseEnter)="panel.open()"
        (debounceMouseLeave)="panel.close()">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="panel-title">
                        {{ item.name }}
                    </div>
                </mat-panel-title>
                <mat-panel-description class="panel-description" >
                    <div class="detail-container">
                        <div class="detail-value">{{ item.serialNo }}</div>
                    </div>
                    <div class="detail-container-equipment">
                        <div class="detail-value">{{ item.equipmentType}}</div>
                    </div>
                    <div class="detail-container-brand">
                        <div class="detail-value">{{ item.brand }}</div>
                    </div>
                    <div class="detail-container-desc">
                        <div class="detail-value">{{ item.inventorytype }}</div>
                    </div>
                    <div class="detail-container-status">
                        <div class="detail-value">{{ item.remarks }}</div>
                    </div>
                    <div class="detail-container-quantity">
                        <div class="detail-value">{{ item.quantity }}</div>
                    </div>
                </mat-panel-description>
                
            </mat-expansion-panel-header>
            <div class="expanded-description">
                
                <img
                    class="fit-image"
                    [src]="item.images.thumbnailUrl"
                    alt=""
                    />
                </div>

                <div class="edit-button" *ngIf="isFaculty(); else facultyUser">
                    <button mat-raised-button (click)="viewItemDetails()">View</button>
                </div>
                <ng-template #facultyUser>
                    <div class="view-button">
                        <button mat-raised-button (click)="viewItemDetails()">Edit</button>
                    </div>
                </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>