*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #eceff6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-container{
    width: 45%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.spacer{
    margin-bottom: 6%;
}

.add-item{
    position: relative;
    display: flex;
    padding: 1%;
}
.panel-title{
    font-size: 50px;
    margin-left: 30px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: table;
    width: 95%;
    font-weight: 700;
}
.title-page{
    font-size: 39px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-bottom: 2%;
    
}
.hline {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -2%;
    border: none;
}
.hline:after {
    content: '';
    border-top: 1px solid rgb(46, 125, 70);
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.first-content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 50%;
}
.first-content-form{
    margin-top: -6%;
    width: 260px;
}
.first-content-form-age{
    margin-top: -6%;
    width: 100px;
}
.second-content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 50%;
}
.third-content{
    position: relative;
    width: 34%;
}
.panel-title{
    margin: 3%;
}

.header{
    
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-form{
    font-size: large;
}
.addName{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addEquipment{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addBrand{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addMatter{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addRemarks{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}
.addDepartment{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: -20px;
}

.form-container{
    display: flex;
}
.form-container2{
    position: relative;
}
.image-container img{
    max-width: 100%;
    max-height: 100%;
}
.edit-image .mat-mdc-raised-button.mat-unthemed{
    display: flex;
    width: 100%;
    margin: 2%;
    background-color: rgb(62, 112, 62);
    color: white;
}
.edit-button .mat-mdc-raised-button.mat-unthemed{
    display: flex;
    width: 100px;
    margin-left: 5%;
    background-color: rgb(62, 112, 62);
    color: white;
}
.report-image .mat-mdc-raised-button.mat-unthemed{
    display: flex;
    width: 100%;
    margin: 10%;
    background-color: rgb(62, 112, 62);
    color: white;
}
.report-button .mat-mdc-raised-button.mat-unthemed{
    display: flex;
    width: 120px;
    margin-right: 10%;
    background-color: rgb(62, 112, 62);
    color: white;
}
.buttons{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}


.spinner-wrapper {
    position: relative;
    z-index: 11;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .signup-container{
        width: 100%;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 0px rgba(0, 0, 0, 0.35);
        
    }
    .first-content{
        width: 90%;
        margin: 5%;
    }
    .second-content{
        width: 90%;
        margin: 5%;
    }
    .first-content-form{
        margin-top: -4%;
        width: 100%;
    }
    
    .first-content-form-age{
        margin-top: -4%;
        width: 50%;
        margin-bottom: -5%;
    }
    .form-container{
        display:block;
    }
    .edit-button{
        margin-bottom: 10%;
    }
}
