<div class="header">
  <app-header></app-header>
</div>
<body>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="signup-container">
      <div class="panel-title">
        <h1 class="title-page underlined">Create Account</h1>
        <div class="hline"></div>
      </div>
      <div class="detail-wrapper">
        <mat-form-field>
          <mat-label>Schood ID</mat-label>
          <input matInput formControlName="schoolId" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Middle Initial</mat-label>
          <input matInput formControlName="middleName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <input matInput formControlName="role" readonly/>
        </mat-form-field>
        <mat-form-field class="major-filter">
          <mat-label>Department</mat-label>
          <input
            type="text"
            matInput
            formControlName="department"
            [matAutocomplete]="autodept"
          />
          <mat-autocomplete
            #autodept="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option *ngFor="let dept of departmentlist" [value]="dept">
              {{ dept }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" />
          <mat-error>
            {{ checkForErrorsIn(signupForm.controls["confirmPassword"]) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="action-wrapper">
        <button
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="signupForm.invalid"
        >
          Sign Up
        </button>
      </div>
    </div>
  </form>
</body>
