.panel-name{
    background-color: #d0cfcf;
    border: 1px solid #dfdede;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px;
    padding: 2px;
}

.form-fields-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-field {
    height: 70px;
    margin-bottom: -22px;
}
.form-container {
    display: flex;
    align-items: center;
}

.select-container {
    margin-left: 10px;
}

.mat-mdc-chip-set {
    margin: 10px;
    max-width: 100%;
}
