.panel-name{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}


.form-fields-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-field {
    height: 70px;
    margin-bottom: -22px;
}
.form-container {
    display: flex;
    align-items: center;
}

.select-container {
    margin-left: 10px;
}

