<app-admin-header></app-admin-header>
<h1 class="page-title">Dashboard <div class="hline"></div></h1>
<div class="dashboard-content">
    
    <div class="menu-panel">
        <div class="buttons">
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToInventory()">
                <mat-icon>inbox</mat-icon>
                    Inventory List
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="showStudentRequests()">
                <mat-icon>assignment</mat-icon>
                    Student Requests
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="showReports()">
                <mat-icon>report</mat-icon>
                    Reports
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToHistory()">
                <mat-icon>history</mat-icon>
                    History
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToAccounts()">
                <mat-icon>supervisor_account</mat-icon>
                    Manage User Accounts
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToSettings()">
                <mat-icon>settings</mat-icon>
                    System Settings
                </button>
        </div>
        
        
    </div>
    <div class="contents">
        <app-content-tabs *ngIf="showContentTabs"></app-content-tabs>
        <app-system-reports  *ngIf="showReportsComponent"></app-system-reports>
    </div>
    
    

</div>