
<h1 class="page-title">Dashboard <div class="hline"></div></h1>
<div class="dashboard-content">
    
    <div class="menu-panel">
        <div class="buttons">
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToInventory()">
                <mat-icon>inbox</mat-icon>
                    Inventory List
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="showStudentRequests()">
                <mat-icon>assignment</mat-icon>
                    Student Requests
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="showReports()">
                <mat-icon>report</mat-icon>
                    Recent Reports
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToItemDetails()">
                    <mat-icon>inbox</mat-icon>
                        Item Details
                    </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToHistory()">
                <mat-icon>history</mat-icon>
                    Reports and History
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToAccounts()">
                <mat-icon>supervisor_account</mat-icon>
                    Manage User Accounts
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  (click)="directToSettings()">
                <mat-icon>settings</mat-icon>
                    System Settings
                </button>
        </div>
        
        
    </div>
    <div class="menu-panel-mobile">
        <div class="buttons">
            <button style=" justify-content: flex-start;" mat-raised-button class="buttons-buttons"  (click)="directToInventory()">
                <div class="button-text">
                    <mat-icon class="icon-text">inbox</mat-icon>
                    Inventory List
                    </div>
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  class="buttons-buttons" (click)="showStudentRequests()">
                <div class="button-text">
                    <mat-icon class="icon-text">assignment</mat-icon>
                    Student Requests
                    </div>
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  class="buttons-buttons" (click)="showReports()">
                <div class="button-text">
                    <mat-icon class="icon-text">report</mat-icon>
                    Recent Reports
                    </div>
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  class="buttons-buttons" (click)="directToItemDetails()">
                <div class="button-text">
                    <mat-icon class="icon-text">inbox</mat-icon>
                        Item Details
                        </div>
                    </button>
            <button style=" justify-content: flex-start;" mat-raised-button  class="buttons-buttons" (click)="directToHistory()">
                <div class="button-text">
                    <mat-icon class="icon-text">history</mat-icon>
                    Reports and History
                    </div>
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  class="buttons-buttons" (click)="directToAccounts()">
                <div class="button-text">
                    <mat-icon class="icon-text">supervisor_account</mat-icon>
                    Manage User Accounts
                    </div>
                </button>
            <button style=" justify-content: flex-start;" mat-raised-button  class="buttons-buttons" (click)="directToSettings()">
                <div class="button-text">
                    <mat-icon class="icon-text">settings</mat-icon>
                    System Settings
                    </div>
                </button>
        </div>
    </div>
    <div class="contents">
        <app-content-tabs *ngIf="showContentTabs"></app-content-tabs>
        <app-system-reports  *ngIf="showReportsComponent"></app-system-reports>
    </div>
    
    

</div>