<div class="student-list-container">
  <div class="header-container">
    <div class="header">
      <div>SCHOOL ID</div>
      <div>NAME</div>
      <div>DEPARTMENT</div>
      <div>ROLE</div>
      <div>STATUS</div>
      <div>SELECT</div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="student-detail-container">
    <div
      class="student-detail-wrapper"
      *ngFor="let student of students"
      [class.deactivated]="student.status == 'deactivated'"
    >
      <div>{{ student.schoolId }}</div>
      <div>{{ student.lastName }}, {{ student.firstName }}</div>
      <div>{{ student.department }}</div>
      <div>{{ student.role }}</div>
      <div
        [class.s-deactivated]="student.status == 'deactivated'"
        [class.s-active]="student.status == 'active'"
      >
        {{ student.status }}
      </div>
      <div>
        <mat-checkbox (change)="onCheckBoxChanged($event, student._id)">
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>
<div class="action-wrapper">
  <button
    mat-raised-button
    color="accent"
    (click)="updateStatus('deactivated')"
  >
    Deactivate
  </button>
  <button mat-raised-button color="primary" (click)="updateStatus('active')">
    Activate
  </button>
</div>
