<div class="expansion-panel-container">
    <div class="expansion-panel-wrapper">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="img-wrapper">
              <img
                [src]="
                  itemborrowed['equipment'].images?.thumbnailUrl ?? defaultImage
                "
                alt="Equipment Image"
              />
            </div>
            {{ itemborrowed["equipment"].name }}
          </mat-panel-title>
          <mat-panel-description class="borrowed-item-detail">
            <div>{{ itemborrowed["quantity"] }}</div>
            <div>{{ itemborrowed.condition }}</div>
            <div>{{ itemborrowed["status"] }}</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="borrowed-item-detail-mobile">
          <div>Quantity: {{ itemborrowed["quantity"] }}</div>
          <div>Condition: {{ itemborrowed.condition }}</div>
          <div>Status: {{ itemborrowed["status"] }}</div>
        </div>
        <div class="action-wrapper">
          <mat-form-field>
            <mat-label>No. of items to return</mat-label>
            <input
              matInput
              [(ngModel)]="itemborrowed['selectedQty']"
              [readonly]="itemborrowed.quantity == 1"
            />
          </mat-form-field>
          <span class="spacer"></span>
          <button mat-raised-button color="accent">Approve</button>
          <button mat-raised-button color="warn">Reject</button>
        </div>
        <app-custom-stepper [histories]="histories"></app-custom-stepper>
      </mat-expansion-panel>
    </div>
    <mat-checkbox
      [(ngModel)]="selected"
      [disabled]="disabled"
      (change)="onCheckBoxChanged($event)"
    ></mat-checkbox>
  </div>
  