<div class="header">
  <app-header></app-header>
</div>
<!-- <div class="page-title">
  <div class="title-page">Account Requests</div>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer-content class="x`custom-drawer-itmes">
    <app-account-request-card [users]="users"></app-account-request-card>
  </mat-drawer-content>
</mat-drawer-container> -->

<div class="page">
  <div class="dashboard-content">
    <app-dashboard-buttons></app-dashboard-buttons>
  </div>
  <div class="page-content">
    <div class="page-title">
      <div
        class="view-category-container clickable"
        (click)="openedCategory = !openedCategory"
      >
        <mat-icon>tune</mat-icon>
      </div>
      <div class="title-page underlined">Account Request Approval</div>
    </div>
    <mat-drawer-container [hasBackdrop]="false">
      <mat-drawer mode="push" [opened]="openedCategory" position="start">
        <app-account-request-category></app-account-request-category>
      </mat-drawer>
      <mat-drawer-content>
        <app-account-request-card [users]="users"></app-account-request-card>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
