<form [formGroup]="borrowUpdateForm">
  <div class="action-container">
    <mat-form-field>
      <mat-label>No. of items to return</mat-label>
      <input type="number" matInput formControlName="noItemsReturn" (input)="onItemsReturned()"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Condition</mat-label>
      <input
        matInput
        [matAutocomplete]="autocondition"
        formControlName="condition"
      />
      <mat-autocomplete #autocondition="matAutocomplete">
        <mat-option
          *ngFor="let condition of filteredconditions | async"
          [value]="condition"
        >
          {{ condition }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Remarks</mat-label>
      <input matInput formControlName="remarks" />
    </mat-form-field>
  </div>
</form>
<div class="action-btn-wrapper" *ngIf="isReads">
  <button mat-raised-button color="accent">reads</button>
</div>
<div class="action-btn-wrapper" *ngIf="isOIC">
  <button mat-raised-button color="accent" (click)="updateBorrow('oic_approved')">
    Approve
  </button>
  <button mat-raised-button color="warn" (click)="updateBorrow('oic_rejected')">
    Reject
  </button>
</div>
