<form [formGroup]="borrowUpdateForm">
  <div class="title underlined">Actions</div>
  <div class="action-container">
    <mat-form-field>
      <mat-label>No. of items to return</mat-label>
      <input
        type="number"
        matInput
        formControlName="noItemsReturn"
        (input)="onItemsReturned()"
        [readonly]="noItemsReturnValue == 1 || !isDisplay"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Condition</mat-label>
      <input
        matInput
        [matAutocomplete]="autocondition"
        formControlName="condition"
        [readonly]="!isDisplay"
      />
      <mat-autocomplete #autocondition="matAutocomplete">
        <mat-option
          *ngFor="let condition of filteredconditions | async"
          [value]="condition"
        >
          {{ condition }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Remarks</mat-label>
      <input matInput formControlName="remarks" [readonly]="!isDisplay" />
    </mat-form-field>
  </div>
</form>
<div class="action-btn-wrapper" *ngIf="isReads && isDisplay">
  <button mat-raised-button color="accent" (click)="updateBorrow('released')">
    Release
  </button>
  <button mat-raised-button color="accent" (click)="updateBorrow('returned')">
    Confirm Return
  </button>
</div>
<div class="action-btn-wrapper" *ngIf="isOIC && isDisplay">
  <button
    mat-raised-button
    color="accent"
    (click)="updateBorrow('oic_approved')"
  >
    Approve
  </button>
  <button mat-raised-button color="warn" (click)="updateBorrow('oic_rejected')">
    Reject
  </button>
</div>
<div class="action-btn-wrapper" *ngIf="isStudent && isDisplay">
  <button
    mat-raised-button
    color="warn"
    (click)="updateBorrow('pending_return')"
  >
    Return
  </button>
</div>

<div class="action-btn-wrapper" *ngIf="isFaculty && !isOIC && isDisplay">
  <button
    mat-raised-button
    color="accent"
    (click)="updateBorrow('faculty_confirmed')"
  >
    Confirm
  </button>
</div>
