.header-menu {
  display: flex;
  align-items: center;
}

.header {
  height: 10%;
  color: white;
  background-color: rgb(62, 112, 62);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  max-width: 18%;
  margin: 5px;
}
.navbar-logo{
  margin-top: 1%;
  margin-left: 3%;
  max-width: 74%;
}
.header-content {
  margin-right: 150px;
  line-height: 1.2;
  font-family: "Playfair Display", serif;
  font-weight: 800;
}
.navbar-headerName{
  display: flex;
  margin-bottom: 10px;
}
.sub-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.button-header {
  display: flex;
  align-items: center;
}

a {
  position: relative;
  text-decoration: none;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  margin-right: 20px;
  color: white;
}

a::after {
  content: "";
  position: absolute;
  background-color: rgb(160, 196, 167);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.2s;
}

a:hover::after {
  width: 100%;
}

.button-header-profile {
  background-color: rgb(62, 112, 62);
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  margin-right: 2%;
}

.mat-mdc-unelevated-button.mat-unthemed {
  background-color: rgb(62, 112, 62);
  color: white;
}

.button-header-profile button {
  display: flex;
  align-items: center;
}

.profileName {
  width: 10%;
}

.header-profileName {
  width: 100%;
}

.spacer {
  flex-grow: 1;
  min-height: 1em;
}

.not-panel {
  padding: 10px;
  width: 15vw;
}

.menu-icon {
  display: flex;
  cursor: pointer;
  margin-right: 10px;
}

.menu-icon-leftnav {
  color: white;
  display: flex;
  cursor: pointer;
  margin-top: 2%;
  margin-left: 4%;
}
.nav-buttons{
  font-size: 22px;
  margin-bottom: 5px;
  
}
.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25%;
  background-color: rgb(62, 112, 62);
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  z-index: 999;
}

.sidebar a {
  display: flex;
  align-items: center;
  
  padding: 10px;
  color: white;
  text-decoration: none;
  width: 100%;
  transition: background-color 0.3s;
}
.nav-text{
  margin-left: 20px;
}
.mobile-menu-icon {
  display: none;
  position: absolute;
  right: 5%;
}

.close-icon {
  display: none;
  position: absolute;
  right: 5%;
}

.spacer1 {
  flex-grow: 1;
  min-height: 1em;
}

::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
  min-width: 280px !important;
  max-width: max-content !important;
}

.side-drawer .mat-drawer:not(.mat-drawer-side){
  box-shadow: 0px 0px 0px 0px;
}

@media screen and (max-width: 520px) {
  .logo {
    display: none;
  }

  .title-text,
  .sub-text {
    font-size: 0px;
  }

  .button-header {
    display: none;
  }

  .button-header-profile {
    margin-right: 20%;
  }

  .profileName-header {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .close-icon {
    display: block;
  }

  .example-sidenav {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(62, 112, 62);
    transform: translateX(100%);
  }

  .example-sidenav.open {
    transform: translateX(0%);
  }

  .sidenav-header,
  .sidenav-menu {
    padding: 16px;
  }

  .sidenav-header img {
    max-width: 50%;
  }

  .sidenav-title-text {
    margin-left: 16px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
  }

  .sidenav-menu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s;
  }

  .sidenav-menu a:hover {
    background-color: #7ecf99;
  }

  .example-sidenav.closed {
    transform: translateX(100%);
  }
}
