<mat-toolbar class="header">
  <img src="/assets/LogoAndTitle.png" class="logo" />

  <img src="/assets/USJR1.png" class="mobile-logo" />
  <div class="header-content"></div>

  <div class="spacer"></div>
  <div class="button-header-profile">
    <button
      mat-icon-button
      [matMenuTriggerFor]="notificationMenu"
      (click)="getNotifications()"
      *ngIf="currentNavigations.length > 0"
    >
      <mat-icon [matBadge]="notification_count">notifications</mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu">
      <app-notification
        [notifications]="notifications"
        [page]="page"
        [total]="total"
      ></app-notification>
    </mat-menu>
    <div class="profileName-header">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="profileName"
        *ngIf="currentNavigations.length > 0"
      >
        <span
          >Hello, {{ currentUser?.firstName }} {{ currentUser?.lastName }}</span
        >
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changePassword($event)">
        Change Password
      </button>
      <button mat-menu-item (click)="logout($event)">Logout</button>
    </mat-menu>
  </div>
  <button
    mat-icon-button
    class="mobile-menu-icon"
    (click)="sidenav.toggle()"
    *ngIf="currentNavigations.length > 0"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <div class="button-header" *ngIf="currentNavigations.length === 0">
    <a [routerLink]="'/login'">Login</a>
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" mode="side">
    <button mat-icon-button class="close-icon" (click)="sidenav.toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="sidenav-header">
      <img src="/assets/USJR1.png" class="sidenav-logo" />

      <div class="sidenav-title-text">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          class="header-profileName"
        >
          <!-- <span>Hello, {{ currentUser?.name.firstName }} {{ currentUser?.name.lastName }}</span> -->
          <span
            >Hello, {{ currentUser?.firstName }}
            {{ currentUser?.lastName }}</span
          >
        </button>
      </div>
    </div>
    <div class="sidenav-menu">
      <a *ngFor="let nav of currentNavigations" [routerLink]="nav.url">{{
        nav.name
      }}</a>
      <a (click)="logout($event)">Logout</a>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
