
<mat-toolbar class="header">
    <img src="/assets/USJR1.png" class="logo">
<div class="header-content">
    <div class="title-text">University of San Jose - Recoletos</div>
    <div class="sub-text">Laboratory Borrowing System</div>
</div>

<span>
    <div class="button-header">
        <a href="">Dashboard</a>
        <a href="">Inventory</a>
        <a href="">Reports</a>
    </div>
</span>
<div class="spacer"></div>
<span>
    <div class="button-header-profile">
        <button mat-flat-button>
            <mat-icon class="custom-icon">notifications</mat-icon>
        </button>
        <button mat-flat-button>
            <mat-icon class="custom-icon">account_circle</mat-icon>
        </button>
    </div>
</span>
</mat-toolbar>
