<div class="panel-name underlined">Filters</div>

<form [formGroup]="filterForm">
  <div class="form-fields-container">
    <mat-form-field floatLabel="always">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="Type Item Name"
        formControlName="search"
        autocomplete="off"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Equipment Type</mat-label>
      <mat-select
        formControlName="equipmenttype"
        (selectionChange)="navigate('equipmenttype')"
      >
        <mat-option
          *ngFor="let equipmenttype of equipmenttypes"
          [value]="equipmenttype"
        >
          {{ equipmenttype }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Category</mat-label>
      <mat-select
        formControlName="categories"
        (selectionChange)="navigate('categories')"
      >
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Brand</mat-label>
      <mat-select formControlName="brand" (selectionChange)="navigate('brand')">
        <mat-option *ngFor="let brand of brands" [value]="brand">
          {{ brand }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Matter Type</mat-label>
      <mat-select
        formControlName="mattertype"
        (selectionChange)="navigate('mattertype')"
      >
        <mat-option *ngFor="let m of matters" [value]="m">
          {{ m }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Inventory Type</mat-label>
      <mat-select
        formControlName="inventorytype"
        (selectionChange)="navigate('inventorytype')"
      >
        <mat-option
          *ngFor="let inventorytype of inventorytypes"
          [value]="inventorytype"
        >
          {{ inventorytype }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Condition</mat-label>
      <mat-select
        formControlName="condition"
        (selectionChange)="navigate('condition')"
      >
        <mat-option
          *ngFor="let condition of conditions"
          [value]="condition"
        >
          {{ condition }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Department</mat-label>
      <mat-select
        formControlName="department"
        (selectionChange)="navigate('department')"
      >
        <mat-option *ngFor="let dept of departments" [value]="dept">
          {{ dept }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Date Acquired</mat-label>
      <mat-date-range-input formGroupName="dateRange" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Recently Borrowed</mat-label>
      <mat-date-range-input
        formGroupName="recentlyBorrowed"
        [rangePicker]="recentlyBorrowed"
      >
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matSuffix
        [for]="recentlyBorrowed"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #recentlyBorrowed></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Location</mat-label>
      <mat-select
        formControlName="location"
        (selectionChange)="navigate('location')"
      >
        <mat-option *ngFor="let location of locations" [value]="location">
          {{ location }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="action-wrapper">
    <button mat-raised-button type="button" color="accent" (click)="resetFilters()">
      Reset Filter
    </button>
  </div>
</form>
