<div class="borrow-status-wrapper">
  <div>
    <span>Pending Faculty Confirmation</span>: Awaiting confirmation from your
    class instructor.
  </div>
  <div>
    <span>Faculty Confirmed</span>: Request confirmed by the instructor.
    Awaiting from OIC approval
  </div>
  <div>
    <span>OIC Approved</span>: Request approved by the OIC. Awaiting for the
    assistant to release the equipment
  </div>
  <div>
    <span>Released</span>: Equipment released by the assistant and given to the
    student.
  </div>
  <div>
    <span>Pending Return</span>: Equipment is returned by student. Awaiting for
    assistant's confirmation
  </div>
  <div>
    <span>Returned</span>: Returned equipment checked and confirmed by the
    students. Assistant may update the equipments condition and quantity upon
    checking of the returned equipments
  </div>
  <div>
    <span>Unreturned</span>: When equipment is still unreturned past the class
    period. System will automatically update it.
  </div>
  <div><span>Rejected</span>: Request denied by the OIC.</div>
  <div>
    <span>System Reset</span>: Disregarded items in Pending Approval and
    Approved (Unreleased) that were not yet released reset by the system itself.
  </div>
</div>
