<div class="borrow-status-wrapper">
  <div>Pending Approval: Awaiting approval.</div>
  <div>Approved (Unreleased): Approved but not yet released.</div>
  <div>Rejected: Request denied.</div>
  <div>Released: Item given to the student.</div>
  <div>Pending Return: Awaiting confirmation of return.</div>
  <div>Returned: Item successfully returned.</div>
  <div>Unreturned: Not returned on time.</div>
  <div>
    System Reset: Disregarded items in Pending Approval and Approved
    (Unreleased) that were not yet released reset by the system itself.
  </div>
</div>
