<app-student-header></app-student-header>
<div>
    <h1 class="page-title">Borrow History<div class="hline"></div></h1>
</div>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="custom-drawer">
        <div class="menu-panel">
            <div class="buttons">
                <button style=" justify-content: flex-start;" mat-raised-button  (click)="showBorrow()">
                        Borrowed Items
                    </button>
                <button style=" justify-content: flex-start;" mat-raised-button   (click)="showReports()">
                        Requests
                    </button>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="custom-drawer-itmes">
        <h1 class="left-drawer-header"  *ngIf="borrowedItems">Borrowed Items</h1>
        <h1 class="left-drawer-header"  *ngIf="reports">Request History</h1>
        <div class="scrollable-panel">
            <mat-list>
    
            </mat-list>
        </div>

    </mat-drawer-content>
</mat-drawer-container>
