<app-student-header></app-student-header>
<div>
    <h1 class="page-title">Borrow History<div class="hline"></div></h1>
</div>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="custom-drawer">
        <div class="menu-panel">
            <div class="buttons">
                <button style=" justify-content: flex-start;" mat-raised-button>
                        Borrowed Items
                    </button>
                <button style=" justify-content: flex-start;" mat-raised-button>
                        Reports
                    </button>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="custom-drawer-itmes">
        <h1 class="left-drawer-header">(Selected Button Title)</h1>
        <div class="scrollable-panel">
            <mat-list>
                <mat-list-item>Item 1</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item>
                <mat-list-item>Item 1</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item>
                <mat-list-item>Item 1</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item>
                <mat-list-item>Item 1</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item>
            </mat-list>
        </div>

    </mat-drawer-content>
</mat-drawer-container>
