.dialog-detail{
    padding: 3%;
}
.item-details-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.label {
    font-weight: bold;
    width: 150px;
}

.detail {
    flex-grow: 1;
}
.image-container{
    position: relative;
    display: flex;
    align-items: center;
    margin: 2%;
    border: 1px solid ;
    border-color: rgb(136, 136, 136);
    width: 20vh;
    height: 20vh;
    overflow: hidden;
}
.image-container img{
    max-width: 100%;
    max-height: 100%;
}
.item-details {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.item-details div {
    font-size: 14px;
    margin-bottom: 5px;
}

.item-details div:last-child {
    margin-bottom: 0;
}

.close-button .mat-mdc-raised-button.mat-unthemed{
    display: flex;
    width: 100px;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 2%;
    background-color: rgb(227, 149, 104);
    color: white;
}
