
<mat-toolbar class="header">
    <img src="/assets/USJR1.png" class="logo">
    <div class="header-content">
        <div class="title-text">University of San Jose - Recoletos</div>
        <div class="sub-text">Laboratory Borrowing System</div>
    </div>


    <div class="header-menu">
            <div class="button-header">
                <a href=""  (click)="dashboard($event)">Dashboard</a>
                <a href=""  (click)="inventory($event)">Browse Items</a>
                <a href=""  (click)="request($event)">Requests</a>
                <a href=""  (click)="history($event)">History</a>
            </div>

            <div class="button-header-profile">
                <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
                    <mat-icon>notifications</mat-icon> <!-- Use 'notifications' for a generic notifications icon -->
                </button>
                <mat-menu #notificationMenu="matMenu">
                    <div class="not-panel">
                    <h3>Notification</h3>
                </div>
                </mat-menu>
                <div class="profileName-header">
                <button mat-icon-button [matMenuTriggerFor]="menu"  class="profileName">
                    <!-- <span>Hello, {{ currentUser?.name.firstName }} {{ currentUser?.name.lastName }}</span> -->
                    <span>Hello, {{ currentUser?.firstName}}  {{ currentUser?.lastName }}</span>
                </button>
            </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout($event)">Logout</button>
                </mat-menu>
            </div>
    </div>
    
    <button mat-icon-button class="menu-icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav class="example-sidenav" mode="side">
        <button mat-icon-button class="close-icon" (click)="sidenav.toggle()">
            <mat-icon>close</mat-icon>
        </button>
        <div class="sidenav-header">
            <img src="/assets/USJR1.png" class="sidenav-logo">
            
            <div class="sidenav-title-text">
                    <button mat-icon-button [matMenuTriggerFor]="menu"  class="header-profileName">
                    <!-- <span>Hello, {{ currentUser?.name.firstName }} {{ currentUser?.name.lastName }}</span> -->
                    <span>Hello, {{ currentUser?.firstName}}  {{ currentUser?.lastName }}</span>
                </button>
            </div>
        </div>
        <div class="sidenav-menu">
            <a href="#" (click)="dashboard($event)">Dashboard</a>
            <a href="#" (click)="inventory($event)">Browse Items</a>
            <a href="#" (click)="request($event)">Requests</a>
            <a href="#" (click)="history($event)">History</a>
        </div>
    </mat-sidenav>

</mat-sidenav-container>