<mat-card>
  <mat-card-content class="panel-description">
    <div class="class-detail-wrapper">
      <div class="class-wrapper">
        <div class="class-details">
          <span>CLASS: </span>{{ borrowedItem.className }}
        </div>
        <div class="class-details">
          <span> PERIOD: </span>{{ borrowedItem.startPeriod }} -
          {{ borrowedItem.endPeriod }}
        </div>
        <div class="class-details">
          <span>PURPOSE: </span>{{ borrowedItem.purpose }}
        </div>
        <div class="class-details">
          <span>INSTRUCTOR: </span>{{ borrowedItem.instructor.fullname }}
        </div>
        <div class="class-details">
          <span>DEPARTMENT: </span>{{ borrowedItem.department }}
        </div>
        <div class="class-details">
          <span>DATE OF USE: </span
          >{{ borrowedItem.startDate | date : "mediumDate" }} -{{
            borrowedItem.endDate | date : "mediumDate"
          }}
        </div>
      </div>
      <div class="borrower-wrapper">
        <div class="borrower">{{ "borrower" }}</div>
        <mat-card-subtitle>
          {{ borrowedItem.dateborrowed | date : "mediumDate" }}
        </mat-card-subtitle>
      </div>
    </div>
    <div class="hline"></div>
    <div class="checkbox-container">
      <div class="detail-select">Select All</div>
      <mat-checkbox (change)="selected = $event.checked"></mat-checkbox>
    </div>
    <div class="item-container">
      <div
        class="item-row"
        *ngFor="let itemborrowed of borrowedItem.itemborrowed"
      >
        <div class="item-row-wrapper">
          <app-student-borrowed-item-row
            [borrowId]="borrowedItem._id"
            [itemborrowed]="itemborrowed"
            [selected]="selected"
            [histories]="itemborrowed.history"
            (onSelectedEvent)="onSelectedEvent($event)"
          ></app-student-borrowed-item-row>
        </div>
      </div>
    </div>
    <div class="action-wrapper">
      <button
        mat-raised-button
        color="accent"
        (click)="updateSelectedBorrowedItem('pending_return')"
      >
       Return Selected
      </button>
    </div>
  </mat-card-content>
</mat-card>
