mat-card-content p {
  margin-bottom: 0.2em;
}

.name-wrapper {
  display: flex;
}

.class-detail-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.detail-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex: 1 1 0;
}

.detail-wrapper div,
.detail-wrapper mat-form-field {
  flex: 1 1 0;
  padding: 0 10px;
}

.borrower-wrapper {
  display: flex;
  flex-direction: column;
}
.borrower {
  padding: 20px 0 5px;
  display: flex;
  font-size: 22px;
  font-weight: 500;
}

.class-wrapper {
  padding: 20px 0;
  font-weight: 500;
}

.class-details {
  color: rgba(0, 0, 0, 0.54);
}

.class-details span {
  padding: 2px 0;
  min-width: 110px;
  font-weight: 600;
  font-size: 16px;
  color: rgb(62, 112, 62);
  display: inline-block;
}

.action-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.detail-value {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.detail-select {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.item-container {
  display: flex;
  flex-direction: column;
}

.item-row {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.last-item .item-row {
  margin-bottom: 0;
}

.hline {
  position: relative;
  width: 100%;
  border: none;
  margin-top: -13px;
}
.hline:after {
  content: "";
  border-top: 1px solid rgb(46, 125, 70);
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.report-button.mat-mdc-raised-button.mat-unthemed {
  background-color: rgb(62, 112, 62);
  color: white;
}

.spacer {
  width: 95%;
}

.button-content {
  margin-top: 20px;
  display: flex;
}
.checkbox-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding: 0 15px;
}

::ng-deep.mat-mdc-form-field,
.mat-mdc-floating-label,
.mat-mdc-select,
.mat-mdc-option {
  font-size: var(--mdc-typography-body1-font-size, 14px);
}

.img-wrapper {
  width: 50px;
  height: 50px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .checkbox-container {
    padding: 0;
  }

  .class-detail-wrapper {
    padding: 0;
    flex-direction: column-reverse;
  }

  .detail-wrapper {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .detail-wrapper div {
    padding: 2px;
  }
}
