<div class="panel-name"></div>

<div class="scrollable-panel">
  <div class="table-header">
    <div class="header-name">Name</div>
    <div class="header-serial">Date Borrowed</div>
    <div class="header-equipment">Borrow Status</div>
  </div>
  <div class="table-content">
      <ng-container matColumnDef="itemPanel">
        <div *ngFor="let item of items">
          <app-borrow-card-panel [user]="item" [items]="item.itemborrowed"></app-borrow-card-panel>
        </div>
      </ng-container>
    <ng-template #noResults>
      <p>No Results Found</p>
    </ng-template>
  </div>
</div>

<div class="paginator">
  <mat-paginator >
  </mat-paginator>
</div>

