.scrollable-panel {
  margin: 10px;
  height: 450px;
  overflow-y: auto;
  border: 1px solid #575757;
  border-radius: 5px;
  position: relative;
  padding: 2.5em;
}

.checkbox-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding: 0 15px;
}

.action-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}

.info-text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 20px 0;
  flex: 1;
  gap: 5px;
  p {
    margin: 0;
    font-style: italic;
    font-size: 12px;
  }
  .spacer {
    flex: 1;
  }
}

@media screen and (max-width: 480px) {
  .scrollable-panel {
    padding: 20px 5px;
  }

  .checkbox-container {
    padding: 0;
  }
}
