<div class="panel-name"></div>
<div class="search-item">
  <mat-form-field class="searchbar" floatLabel="always">
    <mat-label>Search Item</mat-label>
    <input
      matInput
      placeholder="Type Here"
      autocomplete="off"
    />
    <mat-icon matSuffix class="searchbar">search</mat-icon>
  </mat-form-field>
</div>

<div class="scrollable-panel">
  <div class="table-header">
    <div class="header-name">Name</div>
    <div class="header-serial">Date Borrowed</div>
    <div class="header-equipment">Borrow Status</div>
  </div>
  <div class="table-content">
      <ng-container matColumnDef="itemPanel">
          <app-borrow-card-panel></app-borrow-card-panel>
      </ng-container>
    <ng-template #noResults>
      <p>No Results Found</p>
    </ng-template>
  </div>
</div>

<div class="paginator">
  <mat-paginator >
  </mat-paginator>
</div>

