<div class="scrollable-panel">
  <app-no-results *ngIf="!borrowedItems.length; else elseblock">
  </app-no-results>
  <ng-template #elseblock>
    <div *ngFor="let borrowedItem of borrowedItems">
      <app-borrowed-item-row
        [borrowedItem]="borrowedItem"
        (onSelectedEvent)="onSelectedEvent($event)"
      ></app-borrowed-item-row>
    </div>
  </ng-template>
  <div class="action-wrapper">
      <button
        mat-raised-button
        color="accent"
        (click)="updateSelectedBorrowedItem('released')"
      >
        Release Selected
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="updateSelectedBorrowedItem('returned')"
      >
        Confirm Returns
      </button>
    </div>
</div>
