
<div class="panel-name">Item List</div>
<div class="search-item">
    <input type="search-text" placeholder="Search Item.." [(ngModel)]="term">
</div>

<div class="scrollable-panel">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Item Name
                </mat-panel-title>
                <mat-panel-description>
                    <span>Serial No.</span>
                    <span class="spacer"></span>
                    <span>Quantity</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Item Description</p>
            <div class="edit-button">
                <button mat-raised-button>Edit</button>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Item Name
                </mat-panel-title>
                <mat-panel-description>
                    <span>Serial No.</span>
                    <span class="spacer"></span>
                    <span>Quantity</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Item Description</p>
            <div class="edit-button">
                <button mat-raised-button>Edit</button>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Item Name
                </mat-panel-title>
                <mat-panel-description>
                    <span>Serial No.</span>
                    <span class="spacer"></span>
                    <span>Quantity</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Item Description</p>
            <div class="edit-button">
                <button mat-raised-button>Edit</button>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Item Name
                </mat-panel-title>
                <mat-panel-description>
                    <span>Serial No.</span>
                    <span class="spacer"></span>
                    <span>Quantity</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Item Description</p>
            <div class="edit-button">
                <button mat-raised-button>Edit</button>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Item Name
                </mat-panel-title>
                <mat-panel-description>
                    <span>Serial No.</span>
                    <span class="spacer"></span>
                    <span>Quantity</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Item Description</p>
            <div class="edit-button">
                <button mat-raised-button>Edit</button>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Item Name
                </mat-panel-title>
                <mat-panel-description>
                    <span>Serial No.</span>
                    <span class="spacer"></span>
                    <span>Quantity</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Item Description</p>
            <div class="edit-button">
                <button mat-raised-button>Edit</button>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Item Name
                </mat-panel-title>
                <mat-panel-description>
                    <span>Serial No.</span>
                    <span class="spacer"></span>
                    <span>Quantity</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Item Description</p>
            <div class="edit-button">
                <button mat-raised-button>Edit</button>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Item Name
                </mat-panel-title>
                <mat-panel-description>
                    <span>Serial No.</span>
                    <span class="spacer"></span>
                    <span>Quantity</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Item Description</p>
            <div class="edit-button">
                <button mat-raised-button>Edit</button>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Item Name
                </mat-panel-title>
                <mat-panel-description>
                    <span>Serial No.</span>
                    <span class="spacer"></span>
                    <span>Quantity</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Item Description</p>
            <div class="edit-button">
                <button mat-raised-button>Edit</button>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Item Name
                </mat-panel-title>
                <mat-panel-description>
                    <span>Serial No.</span>
                    <span class="spacer"></span>
                    <span>Quantity</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Item Description</p>
            <div class="edit-button">
                <button mat-raised-button>Edit</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    
</div>
<div class="add-button">
    <button mat-raised-button>Add Item</button>
</div>