/* mat-card-content p {
  margin-bottom: 0.2em;
}

.action-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.detail-name {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}
.detail-value {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.detail-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.detail-quantity {
  background-color: rgb(62, 112, 62);
  color: white;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.detail-select {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.detail-equipment {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 30%;
}

.detail-condition {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.detail-status {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 10%;
}

.detail-value,
.detail-date {
  margin-right: 10px;
  font-size: 15px;
}
.item-container {
  display: flex;
  flex-direction: column;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.item-row div {
  width: 30%;
}

.last-item .item-row {
  margin-bottom: 0;
}
.borrowed-items-class {
  font-size: 16px;
}

.hline {
  position: relative;
  width: 100%;
  border: none;
  margin-top: -13px;
}
.hline:after {
  content: "";
  border-top: 1px solid rgb(46, 125, 70);
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.report-button.mat-mdc-raised-button.mat-unthemed {
  background-color: rgb(62, 112, 62);
  color: white;
}

.spacer {
  width: 95%;
}

.button-content {
  margin-top: 20px;
  display: flex;
}
.checkbox-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding: 0 15px;
}

::ng-deep.mat-mdc-form-field,
.mat-mdc-floating-label,
.mat-mdc-select,
.mat-mdc-option {
  font-size: var(--mdc-typography-body1-font-size, 14px);
}



@media screen and (max-width: 480px) {
  .item-row {
    font-size: 10px;
  }
  .detail-quantity {
    margin-right: 10px;
  }
  .detail-equipment {
    width: 15%;
  }
  .item-container {
    margin-left: -5%;
    margin-right: -5%;
  }
  .detail-condition {
    display: flex;
    margin-left: -5%;
    flex-direction: column;
  }
  .detail-status {
    margin-left: -30px;
  }
  .form-condition {
    width: 80%;
  }
} */

.equipment-request-container,
.header-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.equipment-request-wrapper,
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.equipment-request-wrapper div,
.header div {
  flex: 1 1 0;
  padding: 10px;
}

.equipment-request-wrapper div:nth-child(1),
.header div:nth-child(1) {
  flex: 70px 0 0;
}

.equipment-request-wrapper .action-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.action-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.view-button {
  cursor: pointer;
}

.img-wrapper {
  width: 30px;
  height: 30px;
  padding: 0 10px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
