/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-snackbar {
  --mdc-snackbar-container-color: rgb(199, 241, 199);
  font-weight: 500;
  --mdc-snackbar-supporting-text-color: black;
  text-align: center !important;
}


