@use "@angular/material" as mat;

@include mat.core();
// https://stackoverflow.com/questions/55308073/angular-material-typography-not-being-set-correctly
$typography-config: mat.define-typography-config(
  $font-family: '"Poppins", sans-serif',
);

$md-greenpalette: (
  50: #e7efeb,
  100: #c3d7ce,
  200: #9cbdae,
  300: #74a28d,
  400: #568e74,
  500: #387a5c,
  600: #327254,
  700: #2b674a,
  800: #245d41,
  900: #174a30,
  A100: #88ffbe,
  A200: #55ffa3,
  A400: #22ff87,
  A700: #08ff79,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-pinkpalette: (
  50: #fce6e6,
  100: #f8b3b3,
  200: #f78e8e,
  300: #f66a6a,
  400: #f54d4d,
  // 500: #ff9d914d,
  // 500: #f0cdcb// secondary,
  600: #ff8b8b,
  700: #ff7575,
  800: #ff6060,
  900: #ff4c4c,
  A100: #ffffff,
  A200: #ffe6e6,
  A400: #ffb3b3,
  A700: #ff9999,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-violetpalette: (
  50: #f3e8f7,
  100: #e0b2e9,
  200: #d08ddc,
  300: #c369d0,
  400: #b44bb8,
  500: #bb35b44d,
  // Your specified value
  600: #a92ab1,
  700: #9b249e,
  800: #8d1d8b,
  900: #7e1780,
  A100: #ffffff,
  A200: #f0d5f7,
  A400: #d58ae2,
  A700: #b566c1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$usjrinventory-primary: mat.define-palette($md-greenpalette);
$usjrinventory-accent: mat.define-palette($md-violetpalette);
$usjrinventory-warn: mat.define-palette(mat.$red-palette);
$usjrinventory-theme: mat.define-light-theme(
  (
    typography: $typography-config,
    color: (
      primary: $usjrinventory-primary,
      accent: $usjrinventory-accent,
      warn: $usjrinventory-warn,
    ),
  )
);

@include mat.all-component-themes($usjrinventory-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: #e3f7ee;
  color: #030c08;
  font-size: 14px;
  // background-color: #ebefec;
}

.underlined {
  -webkit-text-decoration: underline rgba(187, 53, 180, 0.3) solid 4px;
  text-decoration: underline rgba(187, 53, 180, 0.3) solid 0.2em;
  text-underline-offset: 1px;
  text-decoration-skip-ink: none;
}

.mat-mdc-snack-bar-container {
  &.snackbar-style {
    --mdc-snackbar-container-color: #f3e8f7;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #000;
  }
}

/**
 style overrides
*/

//form fields

.mat-mdc-form-field-focus-overlay {
  background-color: transparent;
  font-size: 14px;
}

.mdc-text-field .mdc-floating-label {
  font-size: 14px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}

.mat-drawer-inner-container {
  background-color: #e3f7ee;
}

.mat-accent {
  color: #000000 !important;
}

.mat-mdc-paginator-container {
  background-color: #e3f7ee;
}

.mat-drawer-content {
  background-color: #e3f7ee;
}

.mat-mdc-card-content.panel-description {
  background-color: #e6efe7;
}

.card {
  &:hover {
    @include mat.elevation(12);
    transition: ease-in-out 0.3s;
    cursor: pointer;
  }
}
