/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-snackbar {
  --mdc-snackbar-container-color: rgb(199, 241, 199);
  font-weight: 500;
  --mdc-snackbar-supporting-text-color: black;
  text-align: center !important;
}

.mat-mdc-snack-bar-container {
  &.green-snackbar {
      --mdc-snackbar-container-color: rgb(128, 214, 128);
      --mat-mdc-snack-bar-container: rgb(255, 255, 255);
      --mdc-snackbar-supporting-text-color: rgb(0, 0, 0);
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
  }
}
.mat-mdc-snack-bar-container {
  &.red-snackbar {
      --mdc-snackbar-container-color: rgb(199, 91, 91);
      --mat-mdc-snack-bar-container: rgb(255, 255, 255);
      --mdc-snackbar-supporting-text-color: rgb(255, 255, 255);
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
  }
}