<div class="header">
  <app-header></app-header>
</div>

<div class="page">
  <div class="dashboard-content">
    <app-dashboard-buttons></app-dashboard-buttons>
  </div>
  <div class="page-content">
    <div class="page-title">
      <div
        class="view-category-container clickable"
        (click)="openedCategory = !openedCategory"
      >
        <mat-icon>tune</mat-icon>
      </div>
      <div class="title underlined">Borrow Request Approval (Faculty)</div>
    </div>
    <mat-drawer-container [hasBackdrop]="false">
      <mat-drawer mode="push" [opened]="openedCategory" position="start">
        <app-borrow-item-category></app-borrow-item-category>
      </mat-drawer>
      <mat-drawer-content>
        <app-faculty-borrow-card [borrowedItems]="borrowedItems"></app-faculty-borrow-card>
      </mat-drawer-content>
    </mat-drawer-container>
    <section id="pagination">
      <mat-paginator
        [length]="pagination.length"
        [pageSize]="pagination.limit"
        [pageIndex]="pagination.page - 1"
        [pageSizeOptions]="pagination.pageSizeOption"
        [showFirstLastButtons]="true"
        (page)="paginate($event)"
      >
      </mat-paginator>
    </section>
  </div>
</div>
