<div class="header">
  <app-header></app-header>
</div>
<div class="page">
  <div class="dashboard-content">
    <app-dashboard-buttons></app-dashboard-buttons>
  </div>
  <div class="page-content">
    <div class="page-title">
      <div
        class="view-category-container clickable"
        [class.cart-openside]="openedCategory"
        (click)="categoryClicked()"
      >
        <mat-icon>menu</mat-icon>
      </div>

      <div class="title-page underlined">Inventory</div>
    </div>

    <div class="hline"></div>
    <mat-drawer-container class="example-container">
      <!-- <mat-drawer mode="side" opened class="custom-drawer">
      </mat-drawer> -->

      <mat-drawer mode="side" [opened]="openedCategory" position="start">
        <app-inventory-category
          [filter]="inventoryFilter"
        ></app-inventory-category>
      </mat-drawer>
      <mat-drawer-content class="custom-drawer-itmes">
        <app-items
          [equipmentlist]="equipmentlist"
          [filter]="inventoryFilter"
        ></app-items>
        <section id="pagination">
          <mat-paginator
            [length]="pagination.length"
            [pageSize]="pagination.limit"
            [pageIndex]="pagination.page - 1"
            [pageSizeOptions]="pagination.pageSizeOption"
            [showFirstLastButtons]="true"
            (page)="paginate($event)"
          >
          </mat-paginator>
        </section>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
