.page {
  display: flex;
  height: 100%;
}
.page-content {
  display: inline-block;
  width: 100%;
}
.dashboard-content {
  border-right: 1px solid #45824a91;
  background-color: rgb(99, 143, 99);
}
.page-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 4vh 3%;
}
.title-page {
  font-size: 3em;
  font-weight: 700;
}

.example-container {
  width: 100%;
}
.panel-name {
  margin-bottom: 5px;
}

.custom-drawer {
  width: 16%;
  background-color: #f1efef;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.view-category-container {
  position: relative;
  border-radius: 10%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1e7e1;
  cursor: pointer;
  margin-top: -10px;
}
.hline {
  position: relative;
  width: 96%;
  border: none;
  margin-bottom: 10px;
}
.hline:after {
  content: "";
  border-top: 2px solid rgb(46, 125, 70);
  margin-left: 2%;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#pagination {
  padding-top: 20px;
}
mat-paginator,
mat-button-toggle-group,
mat-slide-toggle {
  /* background: #e3f7ee; */
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  .dashboard-content {
    display: none;
  }

  .title-page {
    font-size: 2em;
  }
}
